<script lang='ts'>
  import Translation from '$lib/common/components/Translation.svelte'
  import Submit from '$lib/common/components/form/Submit.svelte'
  import { loadLessonConfig, saveLessonConfig } from '$lib/config/storage/configLocalStorage'

  let lessonConfig = loadLessonConfig()

  function submit(event: SubmitEvent) {
    if (event.target instanceof HTMLFormElement) {
      const formData = new FormData(event.target)

      const maxLessonItemDuration = formData.get('maxLessonItemDuration') as number | null

      lessonConfig.maxLessonItemDuration = Number(maxLessonItemDuration) ?? 2

      saveLessonConfig(lessonConfig)
    }
  }
</script>

<form on:submit|preventDefault={submit}>
  <label for='maxLessonItemDuration'>
    <Translation translationCode='maxLessonItemDuration' />
  </label>
  <input type='number' min='2' max='7200' name='maxLessonItemDuration' id='maxLessonItemDuration' value={lessonConfig.maxLessonItemDuration}/>
  <span>sec</span>
  <div class='submit-container'>
    <Submit />
  </div>
</form>

<style>
  form {
    padding: 16px;
  }

  .submit-container {
    margin-top: 16px;
  }
</style>
