<script lang='ts'>
  import Submit from '$lib/common/components/form/Submit.svelte'
  import { loadLessonConfig, saveLessonConfig } from '$lib/config/storage/configLocalStorage'

  let lessonConfig = loadLessonConfig()

  function submit(event: SubmitEvent) {
    if (event.target instanceof HTMLFormElement) {
      const formData = new FormData(event.target)

      const version = formData.get('lessonNavigationVersion') as string | null

      if (version) {
        lessonConfig.lessonNavigationVersion = version
        saveLessonConfig(lessonConfig)
      }
    }
  }
</script>

<form on:submit|preventDefault={submit}>
  <select name='lessonNavigationVersion'>
    {#each lessonConfig.getNavigationVersionValues() as version}
      <option selected={version === lessonConfig.lessonNavigationVersion} value={version}>{version}</option>
    {/each}
  </select>

  <div class='submit-container'>
    <Submit />
  </div>
</form>

<style>
  form {
    padding: 16px;
  }

  .submit-container {
    margin-top: 16px;
  }
</style>
