<script lang='ts'>
  import type { SearchCircuitEventPayload } from '$lib/lessons/uiLogic/techniques'
  import { circuitStore } from '../../../../routes/[lang]/settings/technique/_uiLogic/circuits'
  import SearchCircuits from '$lib/lessons/components/common/SearchCircuits.svelte'
  import { createEventDispatcher } from 'svelte'
  import type { LessonItemEvent } from '$lib/lessons/components/lessonItems/presentation'
  import type { Circuit } from '../../../../routes/[lang]/settings/technique/_domain/circuits'
  import { calculateDuration } from '../../../../routes/[lang]/settings/technique/_domain/circuits'

  let circuits = $circuitStore

  function onSearchCircuits(event: CustomEvent<SearchCircuitEventPayload>) {
    circuits = event.detail.circuits
  }

  const dispatch = createEventDispatcher<LessonItemEvent>()

  function addCircuit(circuit: Circuit) {
    const duration = calculateDuration(circuit)

    dispatch('lessonItemAdded', {
      duration,
      name: circuit.name,
      id: circuit.id,
    })
  }
</script>

<div class='search'>
  <SearchCircuits on:search={onSearchCircuits} />
</div>

<div class='tech-container'>
  {#each circuits as circuit}
    <div class='circuit'>
      <span class='circuit-name'>
        {circuit.name}
      </span>

      <div class='add-final' on:click={() => addCircuit(circuit)}>
        <i class='fa-solid fa-check' />
      </div>
    </div>
  {/each}
</div>

<style>
  .search {
    width: 202px;
    padding: 8px 8px 0 8px;
  }

  .tech-container {
    padding: 0 8px;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .circuit {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    display: flex;
  }

  .circuit-name {
    padding: 8px;
  }

  .add-final {
    width: 20px;
    height: 20px;
    padding: 8px;
    text-align: center;
  }

  .add-final:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
</style>
