<script lang="ts">
  import SearchTechniques from '$lib/lessons/components/common/SearchTechniques.svelte'
  import ExpandedTechnique from '$lib/lessons/components/lessonItems/presentation/ExpandedTechnique.svelte'
  import { techniqueStore } from '$lib/lessons/uiLogic/techniques'
  import type { SearchTechniqueEventPayload } from '$lib/lessons/uiLogic/techniques'

  let techniques = $techniqueStore

  function onSearch(event: CustomEvent<SearchTechniqueEventPayload>) {
    techniques = event.detail.techniques
  }
</script>

<div class="search">
  <SearchTechniques on:search={onSearch} />
</div>

<div class="tech-container">
  {#each techniques as tech}
    <ExpandedTechnique name={tech.name} id={tech.id} on:lessonItemAdded />
  {/each}
</div>

<style>
  .search {
    width: 202px;
    padding: 8px 8px 0 8px;
  }

  .tech-container {
    padding: 0 8px;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>
