<script lang="ts">
  import type { LessonItem as LessonItemModel } from '$lib/lessons/domain/lessons'
  import { currentLesson, lessonHasHistory, lessonStatus, playerEvents } from '$lib/lessons/uiLogic/lessonStore'
  import type { ElementEventPayload } from '$lib/lessons/components/lessonNavigation/presentation'
  import { isLast } from '$lib/lessons/uiLogic/lessonItems'
  import ImmutableLessonItem from '$lib/lessons/components/lessonItems/presentation/ImmutableLessonItem.svelte'


  /**
   * @deprecated component
   */

  export let lessonItem: LessonItemModel
  export let chapterId: string

  function selectLessonItem(event: CustomEvent<ElementEventPayload>) {
    if (!$currentLesson) {
      throw new Error('Current lesson does not exist when selecting lesson item')
    }

    const chapterNumber = $currentLesson.chapters.findIndex((chapter) => chapter.id === event.detail.chapterId)!
    const lessonItemNumber = $currentLesson.chapters[chapterNumber].lessonItems.findIndex(
      (value) => value.id === event.detail.elementId
    )

    playerEvents.set({
      operation: 'jumpTo',
      payload: {
        chapterId: event.detail.chapterId,
        lessonItemId: event.detail.elementId,
        lesson: $currentLesson,
        lessonItem: $currentLesson.chapters[chapterNumber].lessonItems[lessonItemNumber],
      },
    })
  }

  $: itemIsLast = isLast(lessonItem.id, chapterId, $currentLesson)
  $: showHistoryIndicators = $lessonHasHistory && !$lessonStatus.inProgress
</script>

<ImmutableLessonItem
  {lessonItem}
  {chapterId}
  {showHistoryIndicators}
  isActive={lessonItem.id === $lessonStatus.currentLessonItem?.id && $lessonStatus.inProgress}
  isLast={itemIsLast}
  on:selectLessonElement={selectLessonItem}
/>
