<script>
  export let selected = false
  export let href = '#'
</script>

<a class="tab" class:selected {href}>
  <slot />
</a>

<style>
  .tab {
    display: block;
    padding: 16px;
    color: var(--color-secondary-dark);
    border-bottom: 1px solid var(--color-secondary-light);
  }

  .tab:hover {
    background-color: var(--color-surface);
    border-right: 1px solid white;
    color: var(--color-primary);
  }

  .selected {
    background-color: var(--color-surface);
    border-right: 1px solid white;
    color: var(--color-primary);
    position: relative;
  }
</style>
