<script lang="ts">
</script>

<main class="main">
  <nav class="navigation">
    <slot name="navigation" />
  </nav>

  <section class="content">
    <slot name="content" />
  </section>
</main>

<style>
  .main {
    display: flex;
  }

  .content {
    display: flex;
    background-color: white;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    flex-grow: 1;
    min-height: calc(100vh - 100px);
  }
</style>
