<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'

  export let translationCode = 'cancel'
</script>

<button class="submit" type="submit" on:click data-test='cancel'>
  <Translation translationCode={translationCode} />
  <i class="fa-solid fa-xmark" />
</button>

<style>
  .submit {
    display: flex;
    background-color: var(--color-error);
    color: var(--color-on-primary);
    border: 1px solid var(--color-error);
    border-radius: 4px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
  }

  .submit:hover {
    background-color: var(--color-surface);
    color: var(--color-error);
    border: 1px solid var(--color-error);
    cursor: pointer;
  }

  button {
    background-color: transparent;
    border: none;
    color: inherit;
  }

  button:hover {
    cursor: inherit;
  }
</style>
