<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'
  import type { ChangeEvent } from 'react'
  import { createEventDispatcher } from 'svelte'

  export let translationLabel = 'name'
  export let id = ''
  export let props: HTMLInputElement
  export let value = ''
  export let displayLabel = true
  export let horizontalLayout = false

  let processedProps = props?.autofocus === false
    ? (() => {
      delete props['autofocus']

      return props
    })()
    : props

  const dispatch = createEventDispatcher()

  function onChange(event: ChangeEvent<HTMLInputElement>) {
    value = event.target.value

    dispatch('valueChange', {
      value,
    })
  }
</script>

<span class:horizontal={horizontalLayout} data-test={id}>
  {#if displayLabel}
    <label for={id}>
      <Translation translationCode={translationLabel} />
    </label>
  {/if}

  <input {...processedProps} {id} on:input={onChange} {value} />
</span>

<style>
  span {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  span.horizontal {
    flex-direction: row;
    align-items: center;
  }

  input {
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    padding: 8px;
  }

  label {
    color: var(--color-primary);
    font-weight: bold;
  }
</style>
