<script lang="ts">
  import FAIcon from '$lib/common/components/presentation/FAIcon.svelte'
  import Translation from '$lib/common/components/Translation.svelte'

  export let hasErrors = false
</script>

<button class="submit" type="submit" data-test='submit' class:disabled={hasErrors} on:click disabled={hasErrors}>
  <Translation translationCode="save" />
  <FAIcon name="fa-floppy-disk" />
</button>

<style>
  .submit {
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    padding: 8px;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
  }

  .submit:hover {
    background-color: var(--color-surface);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    cursor: pointer;
  }

  .submit.disabled {
    opacity: 0.6;
    cursor: default;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: 1px solid var(--color-primary);
  }

  button {
    background-color: transparent;
    border: none;
    color: inherit;
  }

  button:hover {
    cursor: inherit;
  }
</style>
