<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'
  import { formatDateStandard } from '$lib/common/domain/common'

  let backup = 'data:text/json;charset=utf-8,'

  const fileName = `backup-${formatDateStandard(new Date())}.json`

  function download() {
    const localStorageContent = Object.entries(localStorage).reduce((carry, storageEntry) => {
      return {
        ...carry,
        [storageEntry[0]]: JSON.parse(storageEntry[1]),
      }
    }, {})

    backup = backup + encodeURIComponent(JSON.stringify(localStorageContent))
  }
</script>

<div class="download">
  <a on:click={download} download={fileName} href={backup}>
    <i class="fa-solid fa-download" /><Translation translationCode="download" />
  </a>
</div>

<style>
  .download {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 16px;
    font-size: 32px;
    display: flex;
    gap: 16px;
  }

  a:hover {
    background-color: var(--color-surface);
    color: var(--color-primary);
    cursor: pointer;
  }
</style>
