<script lang='ts'>
  import { setContext } from 'svelte'
  import { writable } from 'svelte/store'
  import Translation from '$lib/common/components/Translation.svelte'

  export let splitTabsEvenly = false
  const activeTab = writable(0)
  let tabs = []

  function addTab(label: string, href: string, isDefault: boolean, dataTest: string) {
    const index = tabs.length
    tabs = [...tabs, { label, index, href, dataTest }]

    if (isDefault) {
      activeTab.set(index)
    }

    return index
  }

  setContext('tabs', { activeTab, addTab })
</script>

<div class='horizontal-tabs'>
  <div class='tabs' class:splitTabsEvenly={splitTabsEvenly}>
    {#each tabs as tab, index}
      <a
        href={tab.href === '#' ? `#${tab.label}` : tab.href }
        on:click={() => activeTab.set(index)}
        class:active={$activeTab === index}
        class:last={index === tabs.length - 1}
        class:first={index === 0}
        data-test={tab.dataTest}
      >
        <Translation translationCode={tab.label}/>
      </a>
    {/each}
  </div>

  <div class='content' class:with-box-shadow='{!splitTabsEvenly}'>
    <slot />
  </div>
</div>

<style>
  .horizontal-tabs {
    background-color: var(--color-background);
  }

  .tabs {
    display: flex;
    justify-content: space-evenly;
  }

  .content {
    background-color: var(--color-surface);

  }

  .content.with-box-shadow {
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
  }

  a {
    color: var(--color-secondary-dark);
    width: 50%;
    text-align: center;
    border-right: 1px solid var(--color-secondary-light);
    padding: 8px;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-secondary-light);
    position: relative;
  }

  a.active {
    border-bottom: 1px solid var(--color-surface);
    color: var(--color-primary);
    font-weight: bold;
    background-color: var(--color-surface);
  }

  a.last {
    border-right: none;
  }

  @media (min-width: 576px) {
    .tabs {
      width: 400px;
    }

    .tabs.splitTabsEvenly {
      width: auto;
    }

    a {
      border-right: 1px solid var(--color-secondary-light);
    }

    a.active {
      border-right: 1px solid var(--color-secondary-light);
    }

    a.last {
      border-right: 1px solid var(--color-secondary-light);
    }
  }
</style>
