<script lang="ts">
  import { getContext } from 'svelte';

  export let label: string
  export let href = '#'
  export let isDefault = false
  export let dataTest = label

  const { activeTab, addTab } = getContext('tabs')
  const index = addTab(label, href, isDefault, dataTest)
</script>

{#if $activeTab === index}
  <slot />
{/if}
