<script lang="ts">
  import Select from '$lib/common/components/presentation/Select.svelte'
  import type { LanguageAware } from '$lib/common/types/page'
  import { supportedLanguages } from '$lib/common/domain/configurations'
  import { changeLanguage, findLanguageByCode } from '$lib/common/domain/languages'

  export let data: LanguageAware

  const options = supportedLanguages.map((value) => ({
    value: value.code,
    label: value.label,
  }))

  function update(event) {
    changeLanguage(event.detail.value)
  }

  let language = findLanguageByCode(data.lang)

  console.log('test')
</script>

<header>
  <span />
  <span class="language-switcher">
    <Select {options} defaultOption={language} on:update={update} />
  </span>
</header>

<style>
  header {
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    justify-content: space-between;
  }

  .language-switcher {
    position: relative;
    z-index: 3;
  }

  @media (min-width: 576px) {
    header {
      padding: 16px;
    }
  }
</style>
