<script lang="ts">
  // This file is needed so we can redirect from /

  import { createDir, BaseDirectory, exists, writeTextFile } from '@tauri-apps/api/fs'
  import { Command } from '@tauri-apps/api/shell'
  import { onMount } from 'svelte'
  import { appDir } from '@tauri-apps/api/path'
  // Create the `$APPDIR/users` directory
  let output
  onMount(async () => {
    try {
      if (!exists('users', { dir: BaseDirectory.Data })) {
        createDir('users', { dir: BaseDirectory.Data, recursive: true })
      } else {
        const content = JSON.stringify({
          test: 'yay',
        })
        await writeTextFile('users/test.json', content, { dir: BaseDirectory.Data })
      }

      const appDirPath = await appDir()
      console.log(appDirPath)

      try {
        output = await new Command('echo', 'message').execute()
      } catch (e) {
        console.error(e)
      }
    } catch (e) {
      console.error(e)
    }
  })
</script>

<h1>Welcome to SvelteKit1</h1>
<a href="/planner">{output?.code}</a>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
