<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'
</script>

<span>
  <Translation translationCode={'refreshWarning'} />
</span>

<style>
  span {
    margin: 20px;
  }
</style>
