<script lang='ts'>
  import Translation from '$lib/common/components/Translation.svelte'
  import type { WithGlobalTimerStore } from '../_uiLogic/player'
  import { formatSecondsDuration } from '$lib/common/domain/common'

  export let player: WithGlobalTimerStore

  let elapsedTime = 0
  let remainingTime = 0

  player.getGlobalTimerStore().subscribe(value => {
    elapsedTime = value.elapsed
    remainingTime = value.remaining
  })
</script>

<div class='current-lesson-item'>
      <span class='duration'>
        <Translation translationCode='elapsedTime' />: {formatSecondsDuration(elapsedTime)}
      </span>
  <span class='duration'>
        <Translation translationCode='remainingTime' />: {formatSecondsDuration(remainingTime)}
      </span>
</div>

<style>
  .current-lesson-item {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
</style>
