<script lang="ts">
  import { formatSecondsDuration } from '$lib/common/domain/common'
  import type { WithMainCountdownStore } from '../_uiLogic/player'
  import Translation from '$lib/common/components/Translation.svelte'
  import type { Circuit } from '../../settings/technique/_domain/circuits'
  import type { Optional } from '$lib/common/domain/optional'

  export let player: WithMainCountdownStore

  let lessonItemRemainingTime = ''
  let chapterName = ''
  let lessonItemName = ''
  let groupNumber = -1
  let circuit: Optional<Circuit>
  let seriesLength = -1
  let next = 'endOfLesson'

  let name = ''

  player.getMainCountdownStore().subscribe(value => {
    lessonItemRemainingTime = formatSecondsDuration(value.remainingTime)
    chapterName = value.chapterTitle
    lessonItemName = value.lessonItemTitle
    groupNumber = value.groupNumber.getOrElse(-1)
    circuit = value.circuit
    seriesLength = value.circuit.map(circuit => circuit.items.length).getOrElse(-1)
    next = value.nextLessonItemTitle.getOrElse('endOfLesson')
    name = value.circuit.map(circuit => circuit.name).getOrElse('')
  })
</script>

<div class="player-container">
  <span class="duration">
    {lessonItemRemainingTime}
  </span>

  <span class='details'>
    <span class='keys'>
      <span class='cell'>
        <Translation translationCode='chapter'/>
      </span>
      {#if circuit.isSome()}
        <span class='cell'>
          <Translation translationCode='circuit'/>
        </span>
        <span class='cell'>
          <Translation translationCode='seriesNumberLabel'/>
        </span>
      {/if}

      <span class='cell'>
        <Translation translationCode='exercise'/>
      </span>
      <span class='cell'>
        <Translation translationCode='next'/>
      </span>
    </span>

    <span class='values'>
      <span class='cell'>
        <Translation translationCode={chapterName} />
      </span>
      {#if circuit.isSome()}
        <span class='cell'>
          {name}
        </span>
        {#if groupNumber > -1 }
          <span class='cell'>
            <Translation translationCode='seriesNumberValue' argument={{ value: groupNumber + 1, total: seriesLength}}/>
          </span>
        {/if}
      {/if}
      <span class='cell'>
        <Translation translationCode={lessonItemName} />
      </span>
      <span class='cell'>
        <Translation translationCode={next}/>
      </span>
    </span>
  </span>
</div>

<style>
  .player-container {
    color: var(--color-primary);
  }

  .duration {
    display: flex;
    flex-direction: column;
    font-size: 500%;
    text-transform: uppercase;
    align-items: center;
  }

  .details {
    display: flex;
    font-size: 1rem;
    justify-content: center;
  }

  .keys {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-primary);
    background-color: var(--color-background);
  }

  .values {
    display: flex;
    flex-direction: column;
  }

  .cell {
    padding: 16px;
    border: 1px solid var(--color-primary);
  }

  @media (min-width: 900px) {
    .duration {
      font-size: 8rem;
    }

    .details {
      font-size: 200%;
    }
  }

  @media (min-width: 1280px) {
    .duration {
      font-size: 16rem;
    }

    .details {
      font-size: 2rem;
    }
  }

  @media (min-width: 1400px) {
    .duration {
      font-size: 20rem;
    }

    .details {
      font-size: 2rem;
    }
  }
</style>
