<script lang='ts'>
  import { isLast } from '$lib/lessons/uiLogic/lessonItems.js'
  import { calculateChapterDuration } from '$lib/lessons/domain/lesson.js'
  import Translation from '$lib/common/components/Translation.svelte'
  import LessonContent from '$lib/common/components/LessonContent.svelte'
  import Control from '$lib/common/components/presentation/Control.svelte'
  import VerticalTabsContainer from '$lib/common/components/verticalTabs/VerticalTabsContainer.svelte'
  import ImmutableLessonItem from './ImmutableLessonItem.svelte'
  import Duration from '$lib/common/components/Duration.svelte'
  import LessonCountdown from './LessonCountdown.svelte'
  import { startPlayer } from '../_uiLogic/player'
  import type { Lesson, LessonItem } from '$lib/lessons/domain/lessons'
  import { goto } from '$app/navigation'
  import { page } from '$app/stores'
  import GlobalTimer from './GlobalTimer.svelte'
  import CircuitDetails from '$lib/lessons/components/common/CircuitDetails.svelte'
  import type { PlayableLessonElementClickEventPayload } from '$lib/lessons/components/common'
  import { getCircuit, lessonItemIsNotCircuit } from '../_uiLogic/playerPage'
  import type { PlayableLessonItems } from '../_uiLogic/playableLessonItems'

  export let lessonItems: PlayableLessonItems
  export let lesson: Lesson
  export let lang: string

  const player = startPlayer(lessonItems, lesson)

  let isPaused = false

  function startAgain() {
    isPaused = false
    player.restart()
  }

  function resume() {
    isPaused = false
    player.continue()
  }

  function pause() {
    isPaused = true
    player.pause()
  }

  function stop() {
    isPaused = true
    player.stop()
    goto(`/${lang}/lessons${$page.url.search}`)
  }

  let currentItemId = lesson.chapters[0].lessonItems[0].id

  player.getStatusStore().subscribe(value => {
    currentItemId = value.current.lessonItem.id

    if (value.status === 'finished') {
      stop()
    }
  })

  function onSelectPlayableLessonItem(event: CustomEvent<PlayableLessonElementClickEventPayload>) {
    isPaused = false
    player.jumpTo(event.detail.id)
  }
</script>

<header>
  <div class='player-controls'>
    <Control type='fa-rotate-right' invertColors={true} on:click={startAgain} />

    {#if isPaused}
      <Control type='fa-play' invertColors={true} on:click={resume} />
    {:else}
      <Control type='fa-pause' invertColors={true} on:click={pause} />
    {/if}

    <Control type='fa-stop' invertColors={true} on:click={stop} />
    <GlobalTimer {player} />
  </div>
</header>
<VerticalTabsContainer>
  <svelte:fragment slot='content'>
    <LessonContent>
      <svelte:fragment slot='chapters'>
        {#each lesson.chapters as chapter, index}
          {#if chapter.lessonItems.length > 0}
            <div class='immutable-chapter-structure'>
              <div class='title'>
                <Translation translationCode={chapter.title} />
              </div>

              {#each chapter.lessonItems as lessonItem, index}
                {#if lessonItem}
                  <div class='playable-lesson-item' class:hideBorder={isLast(lessonItem.id, chapter.id, lesson)}>
                    <ImmutableLessonItem
                      {lessonItem}
                      isActive={lessonItem.id === currentItemId}
                      on:click={onSelectPlayableLessonItem}
                    />
                    {#if !lessonItemIsNotCircuit(lessonItems, lessonItem)}
                      <CircuitDetails lessonItemId={lessonItem.id} circuit={getCircuit(lessonItems, lessonItem)} selectable={true} on:click={onSelectPlayableLessonItem}/>
                    {/if}
                  </div>

                {/if}
              {/each}
              <div class='duration-container'>
                <Translation translationCode='chapterDuration' />
                <Duration duration={calculateChapterDuration(chapter.lessonItems)} />
              </div>
            </div>
          {/if}
        {/each}
      </svelte:fragment>

      <svelte:fragment slot='main'>
        <LessonCountdown {player}/>
      </svelte:fragment>
    </LessonContent>
  </svelte:fragment>
</VerticalTabsContainer>

<style>
  header {
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    justify-content: space-between;
  }

  .player-controls {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 32px;
  }

  .immutable-chapter-structure {
    margin-bottom: 20px;
  }

  .title {
    font-weight: bold;
    padding: 8px 0;
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .playable-lesson-item {
    border-bottom: 1px solid var(--color-secondary-light);
  }

  .hideBorder {
    border: none;
  }

  .duration-container {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    padding: 16px 0;
    color: var(--color-primary);
  }
</style>
