<script lang='ts'>
  import { dev } from '$app/environment'
  import type { PlayerPageData } from './+page'
  import PlayerPage from '../_components/PlayerPage.svelte'

  export let data: PlayerPageData

  function onBeforeUnload(event: BeforeUnloadEvent) {
    if (!dev) {
      event.preventDefault()
      return (event.returnValue = '')
    }
  }

</script>

<svelte:window on:beforeunload={onBeforeUnload} />

{#await data}
  Loading...
{:then value}
  <PlayerPage {...value} />
{:catch error}
  {error.message}
{/await}
