<script lang="ts">
  import { page } from '$app/stores'

</script>

<a class="add-tech" href={$page.url.pathname + '/circuit' + $page.url.search} data-test='addTech'>
  <i class="fa-solid fa-plus" />
  <slot name="label" />
</a>

<style>
  .add-tech {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 8px;
    background-color: var(--color-surface);
  }

  .add-tech:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: 1px solid var(--color-on-primary);
  }
</style>
