<script lang="ts">
  import FAIcon from '$lib/common/components/presentation/FAIcon.svelte'
  import { createEventDispatcher } from 'svelte'
  import type { CircuitEvent } from '$lib/lessons/components/techniques/presentation/index'
  import Translation from '$lib/common/components/Translation.svelte'

  export let id: string
  export let name: string

  const dispatch = createEventDispatcher<CircuitEvent>()

  function onEdit() {
    dispatch('edit', {
      id,
    })
  }

  function onDelete() {
    dispatch('delete', {
      id,
    })
  }
</script>

<div class="tech">
  <div class="name">
    <Translation translationCode={name} />
  </div>

  <div class="icons">
    <div class="operations">
      <FAIcon name="fa-edit" on:click={onEdit} />
      <FAIcon name="fa-trash-can" on:click={onDelete} />
    </div>
  </div>
</div>

<style>
  .tech {
    display: flex;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 8px;
    column-gap: 16px;
  }

  .icons {
    display: flex;
    gap: 8px;
  }

  .operations {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: var(--color-secondary-dark);
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80vw;
  }
</style>
