<script lang="ts">
  import type { SaveTechniqueEvent } from '$lib/lessons/components/techniques/presentation/index'
  import FormModal from '$lib/common/components/presentation/FormModal.svelte'
  import { createEventDispatcher } from 'svelte'
  import Input from '$lib/common/components/form/Input.svelte'

  export let name = ''
  export let video = ''

  const dispatch = createEventDispatcher<SaveTechniqueEvent>()

  function submit(event: CustomEvent) {
    const data = event.detail.formData

    dispatch('submit', {
      name: data.get('name').toString(),
      video: data.get('videoUrl')?.toString(),
    })
  }
</script>

<FormModal title={'addTech'} data-test='saveTech' on:clickClose on:submit={submit}>
  <div class="element-container">
    <div class="form-element">
      <Input
        props={{
          type: 'text',
          required: true,
          name: 'name',
          autofocus: true,
          minlength: '3',
        }}
        value={name}
      />
    </div>
    <div class="form-element">
      <Input
        props={{
          type: 'text',
          required: false,
          name: 'videoUrl',
          autofocus: false,
          minlength: '3',
        }}
        value={video}
        translationLabel="videoUrl"
      />
    </div>
  </div>
</FormModal>

<style>
  .element-container {
    display: flex;
    flex-direction: column;
  }

  .form-element {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }
</style>
