<script lang="ts">
  import FAIcon from '$lib/common/components/presentation/FAIcon.svelte'
  import { createEventDispatcher } from 'svelte'
  import type { TechniqueEvent } from '$lib/lessons/components/techniques/presentation/index'
  import Translation from '$lib/common/components/Translation.svelte'

  export let techniqueId: string
  export let techniqueName: string

  const dispatch = createEventDispatcher<TechniqueEvent>()

  function onEdit() {
    dispatch('edit', {
      techniqueId,
    })
  }

  function onDelete() {
    dispatch('delete', {
      techniqueId,
    })
  }
</script>

<div class="tech" data-test={techniqueId}>
  <div class="name">
    <Translation translationCode={techniqueName} />
  </div>

  <div class="icons">
    <div class="operations">
      <slot />
    </div>

    {#if techniqueName !== 'Szünet'}
      <div class="operations">
        <FAIcon name="fa-edit" on:click={onEdit} dataTest={`edit`}/>
        <FAIcon name="fa-trash-can" on:click={onDelete} dataTest={`delete`}/>
      </div>
    {/if}
  </div>
</div>

<style>
  .tech {
    display: flex;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 8px;
    column-gap: 16px;
  }

  .icons {
    display: flex;
    gap: 8px;
  }

  .operations {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: var(--color-secondary-dark);
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80vw;
  }
</style>
