<script lang="ts">

</script>

<div class='main-padding operations'>
  <div class='search-container'>
    <slot name='search' />
  </div>

  <slot name='addAction' />
</div>

<div class='main-padding content'>
  <slot name='elementList'/>
</div>

<style>
  .search-container {
    width: 100%;
  }

  .main-padding {
    padding: 8px;
  }

  .operations {
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-bottom: 1px solid var(--color-primary);
    flex-direction: column;
    gap: 16px;
  }

  @media (min-width: 576px) {
    .main-padding {
      padding: 16px;
    }

    .operations {
      display: flex;
      flex-direction: row;
    }

    .search-container {
      width: 50%;
    }
  }
</style>
