<script lang='ts'>
  import Button from '$lib/common/components/presentation/Button.svelte'
  import Modal from '$lib/common/components/presentation/Modal.svelte'
  import AddLessonItems from '$lib/lessons/components/chapters/presentation/AddLessonItems.svelte'
  import type { TemporaryItemsEventPayload, TemporaryItemsEvent } from '$lib/lessons/components/lessonNavigation/presentation'
  import { createEventDispatcher } from 'svelte'

  let showModal = false

  const dispatch = createEventDispatcher<TemporaryItemsEvent>()

  function onSubmitLessonItems(event: CustomEvent<TemporaryItemsEventPayload>) {
    dispatch('submit', event.detail)
    closeModal()
  }

  const closeModal = () => {
    showModal = false
  }
</script>

<Button
  faIcon='fa-solid fa-plus'
  secondary={true}
  noBorders={true}
  on:click={() => showModal = true}
  dataTest='addCircuitItems'
/>

{#if showModal}
  <Modal title="saveCircuitItem" on:clickClose={closeModal}>
    <AddLessonItems on:submit={onSubmitLessonItems} hideCircuits={true} />
  </Modal>
{/if}
