<script lang='ts'>
  import Input from '$lib/common/components/form/Input.svelte'
  import {
    addCircuit, editCircuit,
    removeGeneratedSeries, revertToOriginal,
    temporaryCircuit,
    updateTemporaryCircuit,
  } from '../_uiLogic/circuits'
  import Button from '$lib/common/components/presentation/Button.svelte'
  import ExerciseSeries from '../_components/ExerciseSeries.svelte'
  import Submit from '$lib/common/components/form/Submit.svelte'
  import Cancel from '$lib/common/components/form/Cancel.svelte'
  import { goto } from '$app/navigation'
  import { page } from '$app/stores'
  import type { CircuitItem } from '../_domain/circuits'
  import CircuitOperations from '../_components/presentation/CircuitOperations.svelte'
  import Breakdown from '$lib/common/components/breakdown/Breakdown.svelte'
  import { formatDuration } from '$lib/common/domain/common'
  import { calculateDuration } from '../_domain/circuits'
  import Translation from '$lib/common/components/Translation.svelte'

  export let circuitId: string | null = null
  $: editMode = !!circuitId

  $: seriesAreGenerated = $temporaryCircuit !== null && $temporaryCircuit.items.length >= 2

  $: seriesExist = $temporaryCircuit?.items.length > 0 || false

  let circuitName = $temporaryCircuit?.name ?? ''
  let numberOfSeries = 2

  $: series = $temporaryCircuit?.items ?? []

  function onSave() {
    if (numberOfSeries > 0 && $temporaryCircuit) {
      seriesAreGenerated = false

      for (let i = 0; i < numberOfSeries - 1; i++) {
        // This is needed, so that we can distinguish between these items individually
        // when they are running as part of the lesson.
        const exercises = $temporaryCircuit.items[0]
          .map<CircuitItem>(value => {
            return {
              ...value,
              id: crypto.randomUUID(),
            }
          })

        series.push(exercises)
      }

      updateTemporaryCircuit(circuitName, series)
    }
  }

  function onCancelBeforeGeneration() {
    updateTemporaryCircuit(circuitName, [])
  }

  function onCancelAfterGeneration() {
    removeGeneratedSeries()
  }

  function onSubmit() {
    if ($temporaryCircuit) {
      if (editMode) {
        editCircuit(circuitName, $temporaryCircuit, circuitId)
        goto($page.url.pathname.split('/').slice(0, -2).join('/') + $page.url.search + '#circuits')
      } else {
        addCircuit(circuitName, $temporaryCircuit)
        goto($page.url.pathname.split('/').slice(0, -1).join('/') + $page.url.search + '#circuits')
      }
    }
  }

  function onCancelAllChanges() {
    if (circuitId) {
      revertToOriginal(circuitId)
    } else {
      console.error("Circuit id is missing in edit mode")
    }
  }

  let breakdownData = []

  $: {
    if ($temporaryCircuit) {
      const duration = calculateDuration($temporaryCircuit)
      if (duration) {
        breakdownData = [{label: 'totalTime', value: formatDuration(duration.minute, duration.second)}]
      }
    }
  }
</script>

<main class='content'>
  <div class='circuit-details-wrapper'>
    <form class='input-wrapper' on:submit|preventDefault={onSubmit}>
      <Input
        translationLabel='circuitName'
        props={{
            type: 'text',
            required: true,
            name: 'circuitName',
            minLength: 3,
          }}
        id='circuit-name'
        bind:value={circuitName}
      />

      {#if !seriesAreGenerated && seriesExist}
        <Input
          translationLabel='numberOfSeries'
          props={{
              type: 'number',
              required: true,
              name: 'numberOfSeries',
              min: '2',
            }}
          id='number-of-series'
          bind:value={numberOfSeries}
        />

        <CircuitOperations>
          <div>
            <Button dataTest='generate' label='generate' on:click={onSave} faIcon='fa-regular fa-floppy-disk' />
          </div>
          <Cancel on:click={onCancelBeforeGeneration} />
          {#if editMode}
            <Cancel translationCode='cancelAll' on:click={onCancelAllChanges} />
          {/if}
        </CircuitOperations>
      {/if}

      {#if seriesAreGenerated && seriesExist}
        <CircuitOperations>
          <Submit />
          <Cancel translationCode='cancelSeriesGeneration' on:click={onCancelAfterGeneration} />
          {#if editMode}
            <Cancel translationCode='cancelAll' on:click={onCancelAllChanges} />
          {/if}
        </CircuitOperations>
      {/if}
    </form>

    <div class='series'>
      {#if !seriesAreGenerated}
        <ExerciseSeries bind:circuitName />
      {:else }
        {#each series as group, index}
          <ExerciseSeries bind:circuitName groupNumber={index} />
        {/each}
      {/if}
    </div>
  </div>

  <div class='breakdown-wrapper'>
    <div class='title'><Translation translationCode='plan'/></div>
    <Breakdown lineItems={breakdownData}/>
  </div>
</main>

<style>
  .content {
    min-height: calc(100vh - 100px);
    background-color: var(--color-surface);
    display: flex;
  }

  .circuit-details-wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .breakdown-wrapper {
    padding: 20px;
    border-left: 2px solid var(--color-primary);
    width: 70%;
    text-align: center;
  }

  .input-wrapper {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    color: var(--color-primary);
    font-weight: normal;
    font-size: 24px;
    padding: 8px 12px;
  }
</style>
