<script lang='ts'>
  import Duration from '$lib/common/components/Duration.svelte'
  import LessonItemOperations from '$lib/lessons/components/lessonItems/presentation/LessonItemOperations.svelte'
  import type { CircuitItem } from '../_domain/circuits'
  import EditLessonDurationModal from '$lib/lessons/components/lessonItems/presentation/EditLessonDurationModal.svelte'
  import type {
    EditLessonDurationEventPayload, ElementEventPayload,
  } from '$lib/lessons/components/lessonNavigation/presentation'
  import {
    updateDuration,
    temporaryCircuit,
    deleteExercise,
    cloneExercise, toggleSoundEffect,
  } from '../_uiLogic/circuits'

  export let name = ''
  export let item: CircuitItem
  export let groupNumber = 0

  $: minute = $temporaryCircuit?.items[groupNumber]?.find(value => value.id === item.id)?.duration.minute
  $: second = $temporaryCircuit?.items[groupNumber]?.find(value => value.id === item.id)?.duration.second
  $: isSoundEffectEnabled = $temporaryCircuit?.items[groupNumber]?.find(value => value.id === item.id)?.isSoundEnabled ?? false

  $: duration = minute * 60 + second

  let showItemEditModal = false

  function showDurationModal() {
    showItemEditModal = true
  }

  function onEditExerciseDuration(event: CustomEvent<EditLessonDurationEventPayload>) {
    updateDuration(groupNumber, item, event.detail.minute, event.detail.second)

    duration = event.detail.minute * 60 + event.detail.second
  }

  function onDeleteExercise(event: CustomEvent<ElementEventPayload>) {
    deleteExercise(groupNumber, event.detail.elementId)
  }

  function onCloneExercise(event: CustomEvent<ElementEventPayload>) {
    cloneExercise(groupNumber, item)
  }

  function closeModal() {
    showItemEditModal = false
  }

  function enableSound() {
    toggleSoundEffect(groupNumber, item, true)
  }

  function disableSound() {
    toggleSoundEffect(groupNumber, item, false)
  }

  // TODO implement sound effect enable.
</script>

<div class='exercise'>
  <span class='name'>
    {name}
  </span>

  <div class='duration-container'>
    <Duration duration={duration} />
  </div>

  <div class='operations-wrapper'>
    <LessonItemOperations
      isSoundEnabledProp={isSoundEffectEnabled}
      chapterId={`${groupNumber}`}
      lessonItemId={item.id}
      techniqueId={item.techniqueId}
      on:lessonElementEdit={showDurationModal}
      on:lessonElementRemove={onDeleteExercise}
      on:lessonElementClone={onCloneExercise}
      on:enableSound={enableSound}
      on:disableSound={disableSound}
    />
  </div>
</div>

{#if showItemEditModal}
  <EditLessonDurationModal
    minute={item.duration.minute}
    second={item.duration.second}
    on:submit={onEditExerciseDuration}
    on:clickClose={closeModal}
  />
{/if}

<style>
  .exercise {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    padding: 15px 19px;
    align-items: center;
  }

  .name {
    max-width: 80%;
  }

  .exercise > .operations-wrapper {
    display: none;
  }

  .exercise:hover > .operations-wrapper {
    display: block;
  }

  .exercise:hover > .duration-container {
    display: none;
  }
</style>
