<script lang="ts">
  import Exercise from './Exercise.svelte'
  import Draggable from '$lib/lessons/components/techniques/Draggable.svelte'
  import DragAndDrop from '$lib/lessons/components/techniques/DragAndDrop.svelte'
  import AddCircuitItems from './AddCircuitItems.svelte'
  import { saveTemporaryCircuit, temporaryCircuit, updateOrder } from '../_uiLogic/circuits'
  import { getTechniqueNames, loadTechniquesByIds } from '$lib/lessons/uiLogic/techniques'
  import type { TemporaryItemsEventPayload } from '$lib/lessons/components/lessonNavigation/presentation'
  import Duration from '$lib/common/components/Duration.svelte'
  import Translation from '$lib/common/components/Translation.svelte'

  export let groupNumber = 0
  export let circuitName = ''

  function onSubmitCircuitItems(event: CustomEvent<TemporaryItemsEventPayload>) {
    saveTemporaryCircuit(circuitName, event.detail.items, groupNumber)
  }

  $: techniquesNames = getTechniqueNames(
    loadTechniquesByIds(($temporaryCircuit?.items[groupNumber] ?? []).map(value => value.techniqueId))
  )

  function onDragEnd(event: CustomEvent) {
    updateOrder(groupNumber, event.detail.items)
  }

  let props = {}

  $: showExercises = $temporaryCircuit && $temporaryCircuit.items.length > 0

  $: {
    if (showExercises && $temporaryCircuit && $temporaryCircuit.items[groupNumber]) {
      props = $temporaryCircuit.items[groupNumber].reduce((carry, item, index) => {
        carry[index] = {
          name: techniquesNames[item.techniqueId],
          item,
          groupNumber,
        }

        return carry
      }, {} as Record<number, any>)
    }
  }

  $: duration = ($temporaryCircuit?.items[groupNumber] ?? []).reduce((duration, exercise) => {
    return duration + exercise.duration.minute * 60 + exercise.duration.second
  }, 0)

  // TODO refactor chapter duration to use the same component
</script>

<span class='title'>
  Seria {groupNumber + 1}
</span>

{#if showExercises}
  <DragAndDrop on:dragend={onDragEnd}>

    {#if $temporaryCircuit.items[groupNumber]}
      {#each $temporaryCircuit.items[groupNumber] as item, index}
        <Draggable
          component={Exercise}
          props={props[index]}
        />
      {/each}
    {/if}

  </DragAndDrop>
{/if}

{#if $temporaryCircuit?.items[groupNumber]?.length > 0}
  <div class="duration-container">
    <Translation translationCode="groupDuration" />
    <Duration {duration} />
  </div>
{/if}

<div class='add-button-wrapper'>
  <AddCircuitItems on:submit={onSubmitCircuitItems} />
</div>

<style>
  .title {
    font-weight: bold;
    padding: 8px 20px;
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .add-button-wrapper {
    margin: 0 auto;
  }

  .duration-container {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    padding: 16px 20px;
    color: var(--color-primary);
  }
</style>
