<script lang="ts">
  import { formatSecondsDuration } from '$lib/common/domain/common'

  export let duration: number
</script>

<span class="element-duration">
  <i class="fa-regular fa-clock" />
  {formatSecondsDuration(duration)}
</span>
