<script lang="ts">
  import Modal from '$lib/common/components/presentation/Modal.svelte'

  export let imageLink
</script>

<Modal on:clickClose>
  <img src={imageLink} alt="judo-image" width="560" height="315" />
</Modal>
