<script lang="ts">
  import Select from '$lib/common/components/presentation/Select.svelte'
  import { changeLanguage, findLanguageByCode } from '$lib/common/domain/languages'
  import { supportedLanguages } from '$lib/common/domain/configurations'

  export let languageCode: string

  $: language = findLanguageByCode(languageCode)
  $: defaultOption = {
    value: language.code,
    label: language.label,
  }

  const options = supportedLanguages.map((value) => ({
    value: value.code,
    label: value.label,
  }))

  function update(event) {
    changeLanguage(event.detail.value)
  }
</script>

<div data-test='languageSwitcher'>
  <Select {options} defaultOption={defaultOption} on:update={update} variant='secondary'/>
</div>
