<div class="chapters-layout">
  <slot name="chapters" />
</div>

<div class="main">
  <slot name="main" />
</div>

<style>
  .chapters-layout {
    width: 440px;
    padding: 20px;
  }

  .main {
    border-left: 1px solid var(--color-primary);
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
  }
</style>
