<script lang="ts">
  import Modal from '$lib/common/components/presentation/Modal.svelte'

  export let videoLink
</script>

<Modal on:clickClose>
  <iframe
    width="560"
    height="315"
    src={videoLink}
    title="YouTube video player"
    allow="accelerometer; autoplay;"
    allowfullscreen
  />
</Modal>
