<script lang="ts">
  import { currentLesson, lessonStatus, shouldEnableEditing } from '$lib/lessons/uiLogic/lessonStore'
  import LessonBreakdown from '$lib/lessons/components/main/LessonBreakdown.svelte'
  import Translation from '$lib/common/components/Translation.svelte'
  import Tabs from '$lib/common/components/presentation/Tabs.svelte'
  import { lessonHistory } from '../_uiLogic/history'
  import HistoryBreakdown from './HistoryBreakdown.svelte'
  import { optionalOf } from '$lib/common/domain/optional'

  let selected = 0

  $: enableEditing = shouldEnableEditing($lessonStatus, $currentLesson)

  let tabs = [
    {
      title: 'plan',
      content: {
        component: LessonBreakdown,
        props: {},
      },
    },
  ]

  $: {
    if ($lessonHistory && !enableEditing) {
      tabs = [
        {
          title: 'report',
          content: {
            component: HistoryBreakdown,
            props: {
              history: $lessonHistory,
              lesson: optionalOf($currentLesson),
            },
          },
        },
      ]
    }

    if ($lessonStatus.inProgress) {
      tabs = [
        {
          title: 'plan',
          content: {
            component: LessonBreakdown,
            props: {},
          },
        },
      ]
    }

    if ($lessonHistory && enableEditing) {
      tabs = [
        {
          title: 'plan',
          content: {
            component: LessonBreakdown,
            props: {},
          },
        },
        {
          title: 'report',
          content: {
            component: HistoryBreakdown,
            props: {
              history: $lessonHistory,
              lesson: optionalOf($currentLesson),
            },
          },
        },
      ]
    }

    if (!$lessonHistory && !enableEditing) {
      tabs = [
        {
          title: 'plan',
          content: {
            component: LessonBreakdown,
            props: {},
          },
        },
      ]
    }
  }

  function select(indexOfSelection: number) {
    selected = indexOfSelection
  }
</script>

{#if $currentLesson}
  <Tabs>
    {#each tabs as tab, index}
      <div class="title" class:isSelected={selected === index} on:click={() => select(index)}  data-test={`title:${tab.title}`}>
        <Translation translationCode={tab.title} />
      </div>
    {/each}
  </Tabs>

  <div class="content">
    {#if tabs[selected].content}
      <svelte:component this={tabs[selected].content.component} {...tabs[selected].content.props} />
    {/if}
  </div>
{/if}

<style>
  .title {
    color: var(--color-secondary-dark);
    font-weight: normal;
    font-size: 24px;
    padding: 8px 12px;
  }

  .title:hover {
    cursor: pointer;
  }

  .isSelected {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
  }

  .content {
    margin-top: 24px;
  }
</style>
