<script lang="ts">
  import Select from '$lib/common/components/presentation/Select.svelte'
  import { createEventDispatcher } from 'svelte'
  import type { CalendarFilterEvent, CalendarFiltersProps } from './types'
  import type { Option } from '$lib/common/types/types'

  export let props: CalendarFiltersProps

  const dispatch = createEventDispatcher<CalendarFilterEvent>()

  function onYearUpdate(event: CustomEvent<Option>) {
    dispatch('update', {
      name: 'year',
      value: event.detail.value,
    })
  }

  function onMonthUpdate(event: CustomEvent<Option>) {
    dispatch('update', {
      name: 'month',
      value: event.detail.value,
    })
  }

  function onWeekUpdate(event: CustomEvent<Option>) {
    dispatch('update', {
      name: 'week',
      value: event.detail.value,
    })
  }
</script>

<div class="calendar-filter-container">
  <div class="select-container">
    <Select
      options={props.year.options}
      defaultOption={props.year.defaultValue}
      on:update={onYearUpdate}
      variant="secondary"
    />
  </div>

  <div class="select-container">
    <Select
      options={props.month.options}
      defaultOption={props.month.defaultValue}
      on:update={onMonthUpdate}
      variant="secondary"
    />
  </div>

  <div class="select-container">
    <Select
      options={props.week.options}
      defaultOption={props.week.defaultValue}
      on:update={onWeekUpdate}
      variant="secondary"
    />
  </div>
</div>

<style>
  .calendar-filter-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  .select-container {
    margin-right: 8px;
  }
</style>
