<script lang="ts">
  import type { BreakdownProps } from '$lib/common/components/breakdown/index'
  import Translation from '$lib/common/components/Translation.svelte'

  export let lineItems: BreakdownProps = []
</script>

<div class="report">
  <div class="items">
    {#each lineItems as lineItem}
      <div class="item" class:showBottomBorder={lineItems.length === 1} data-test={`lineItem:${lineItem.label}`}>
        <span><Translation translationCode={lineItem.label} /></span>
        {lineItem.value}
      </div>
    {/each}
  </div>
</div>

<style>
  .report {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .items {
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    justify-content: space-between;
    color: var(--color-primary);
    border-top: 1px solid var(--color-primary);
    padding: 16px;
  }

  .showBottomBorder {
    border-bottom: 1px solid var(--color-primary);
  }
</style>
