<script lang="ts">
  import FormModal from '$lib/common/components/presentation/FormModal.svelte'
  import { createEventDispatcher } from 'svelte'
  import type { AddChapterEvent } from '$lib/lessons/components/lessonNavigation/presentation'
  import Submit from '$lib/common/components/form/Submit.svelte'

  let form: HTMLFormElement

  const dispatch = createEventDispatcher<AddChapterEvent>()

  function submit(event: CustomEvent) {
    const data = event.detail.formData

    dispatch('submit', {
      title: data.get('title').toString(),
    })
  }
</script>

<FormModal title="addChapterLabel" on:clickClose on:submit={submit}>
  <div class="element-container">
    <div class="form-element">
      <input type="text" required name="title" autofocus />
    </div>
  </div>
</FormModal>

<style>
  .element-container {
    display: flex;
    flex-direction: column;
  }

  .form-element {
    margin: 16px 0;
  }

  .form-element input {
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    padding: 4px;
  }
</style>
