<script lang="ts">
  import type {
    TemporaryItemsEventPayload,
    TemporaryLesson,
  } from '$lib/lessons/components/lessonNavigation/presentation'
  import { formatDuration } from '$lib/common/domain/common'
  import type { LessonItemEventPayload } from '$lib/lessons/components/lessonItems/presentation'
  import ExpandedTechniques from '$lib/lessons/components/lessonItems/ExpandedTechniques.svelte'
  import TemporaryLessonItems from '$lib/lessons/components/common/TemporaryLessonItems.svelte'
  import HorizontalTabsContainer from '$lib/common/components/horizontalTabs/HorizontalTabsContainer.svelte'
  import Tab from '$lib/common/components/horizontalTabs/Tab.svelte'
  import Circuits from '$lib/lessons/components/lessonItems/Circuits.svelte'

  export let hideCircuits = false
  let temporaryItems: TemporaryLesson[] = []

  function addTemporaryLesson(event: CustomEvent<LessonItemEventPayload>) {
    const minute = Number(event.detail.duration.minute)
    const second = Number(event.detail.duration.second)
    const duration = formatDuration(minute, second)

    temporaryItems = [
      ...temporaryItems,
      ...[
        {
          minute,
          second,
          duration,
          name: event.detail.name,
          id: event.detail.id,
        },
      ],
    ]
  }

  function onRemove(event: CustomEvent<TemporaryItemsEventPayload>) {
    temporaryItems = event.detail.items
  }
</script>

<div>
  <TemporaryLessonItems {temporaryItems} on:remove={onRemove} on:submit />
  {#if hideCircuits}
    <ExpandedTechniques on:lessonItemAdded={addTemporaryLesson} />
  {:else }
    <HorizontalTabsContainer splitTabsEvenly={true}>
      <Tab label='techniques' isDefault={true}>
        <ExpandedTechniques on:lessonItemAdded={addTemporaryLesson} />
      </Tab>
      <Tab label='circuits'>
        <Circuits on:lessonItemAdded={addTemporaryLesson}/>
      </Tab>
    </HorizontalTabsContainer>
  {/if}
</div>
