<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'
  import Duration from '$lib/common/components/Duration.svelte'

  export let duration: number
</script>

<div class="duration-container" data-test='chapter-duration'>
  <Translation translationCode="chapterDuration" />
  <Duration {duration} />
</div>

<style>
  .duration-container {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    padding: 16px 8px;
    color: var(--color-primary);
  }
</style>
