<script lang="ts">
  import Modal from '$lib/common/components/presentation/Modal.svelte'
  import { createEventDispatcher } from 'svelte'
  import type { DeleteEvent } from '$lib/lessons/components/lessonNavigation/presentation'

  export let modalTextContent: string
  export let confirmLabel: string
  export let cancelLabel: string

  const dispatch = createEventDispatcher<DeleteEvent>()

  function submit(answer: boolean) {
    dispatch('choice', {
      answer,
    })
  }
</script>

<Modal title="delete" on:clickClose>
  <div class="container">
    <h2>
      {modalTextContent}
    </h2>

    <div class="button-container">
      <button on:click={() => submit(true)}>{confirmLabel}</button>
      <button class="cancel" on:click={() => submit(false)}>{cancelLabel}</button>
    </div>
  </div>
</Modal>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-element input {
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    padding: 4px;
  }

  .button-container {
    display: flex;
    min-width: 25%;
    padding: 4px;
    justify-content: space-evenly;
    gap: 8px;
  }

  h2 {
    color: var(--color-primary);
  }

  button {
    padding: 8px 16px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
  }

  button:hover {
    background-color: var(--color-surface);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    cursor: pointer;
  }

  .cancel {
    background-color: var(--color-error);
    border: 1px solid var(--color-error);
  }

  .cancel:hover {
    background-color: var(--color-surface);
    color: var(--color-error);
    border: 1px solid var(--color-error);
  }
</style>
