<script lang="ts">
  import FAIcon from '$lib/common/components/presentation/FAIcon.svelte'
  import { createEventDispatcher } from 'svelte'
  import type { ChapterEvent } from '$lib/lessons/components/lessonNavigation/presentation'
  import type { LessonItem as LessonItemModel } from '$lib/lessons/domain/lessons'
  import Translation from '$lib/common/components/Translation.svelte'
  import { currentLesson, lessonHasHistory, lessonStatus } from '$lib/lessons/uiLogic/lessonStore'
  import HistoryIndicator from '$lib/lessons/components/lessonItems/presentation/HistoryIndicator.svelte'
  import Duration from '$lib/common/components/Duration.svelte'
  import LessonItemOperations from '$lib/lessons/components/lessonItems/presentation/LessonItemOperations.svelte'
  import { circuitStore } from '../../../../../routes/[lang]/settings/technique/_uiLogic/circuits'
  import CircuitDetails from '$lib/lessons/components/common/CircuitDetails.svelte'
  import type { Circuit } from '../../../../../routes/[lang]/settings/technique/_domain/circuits'
  import { shouldBeHistoryV2 } from '$lib/common/domain/configurations'
  import HistoryIndicatorV2 from '../../common/HistoryIndicator.svelte'
  import { optionalOf } from '$lib/common/domain/optional'
  import { getHistoryIndicator, lessonHistory } from '../../../../../routes/[lang]/lessons/_uiLogic/history'

  export let chapterTitle = ''
  export let chapterId = ''
  export let lessonItems: LessonItemModel[] = []
  export let isFirst = false
  export let isLast = false
  export let enableEditing = false
  export let chaptersAreNotStatic = false

  let refs: HTMLElement[] = []

  let draggedElementId: string
  let targetElementId: string

  $: draggable = enableEditing && lessonItems.length > 1 ? 'true' : 'false'

  const dispatchChapterEvent = createEventDispatcher<ChapterEvent>()
  const dispatch = createEventDispatcher()

  const onChapterTitleEdit = () => {
    dispatchChapterEvent('chapterTitleEdit', {
      chapterId,
    })
  }

  const onChapterDelete = () => {
    dispatchChapterEvent('chapterDelete', {
      chapterId,
    })
  }

  const onMoveUp = () => {
    dispatchChapterEvent('moveChapterUp', {
      chapterId,
    })
  }

  const onMoveDown = () => {
    dispatchChapterEvent('moveChapterDown', {
      chapterId,
    })
  }

  function findElement(id: string) {
    return refs.find((elem) => elem?.id === id)
  }

  let dropped_in = false

  let visibilityOfTarget = lessonItems.map(() => true)

  $: {
    if (lessonItems.length > visibilityOfTarget.length) {
      visibilityOfTarget = lessonItems.map(() => true)
    }
  }

  let originalLessonItems = [...lessonItems]

  $: {
    // This was done, because we need to update the original lesson items array if a new lesson item was added
    // We need to do this only in this case, because if there's no new lesson, then the re-ordering should not affect
    // the original lessons
    if (lessonItems.length > originalLessonItems.length) {
      originalLessonItems = [...lessonItems]
    }
  }

  function handleDragEnter(e) {
    const elem = findElement(e.target.getAttribute('id'))

    if (elem && draggedElementId) {
      targetElementId = e.target.getAttribute('id')

      if (draggedElementId !== targetElementId) {
        const draggedSummary = lessonItems.findIndex((value) => value.id === draggedElementId)
        const targetSummary = lessonItems.findIndex((value) => value.id === targetElementId)

        const temp = lessonItems[draggedSummary]
        lessonItems[draggedSummary] = lessonItems[targetSummary]
        lessonItems[targetSummary] = temp

        visibilityOfTarget[targetSummary] = false
        visibilityOfTarget[draggedSummary] = true
      }
    }
  }

  function handleDragLeave() {}

  function handleDragDrop(e) {
    e.preventDefault()

    dropped_in = true
  }

  function handleDragStart(e) {
    e.dataTransfer.dropEffect = 'move'
    e.dataTransfer.setData('text', e.target.getAttribute('id'))

    draggedElementId = e.target.getAttribute('id')
  }

  function handleDragEnd() {
    if (dropped_in == false) {
      lessonItems = [...originalLessonItems]
    }

    dispatch('sort', {
      lessonItems,
      chapterId,
    })

    visibilityOfTarget = lessonItems.map(() => true)

    dropped_in = false
  }

  $: showHistoryIndicators = $lessonHasHistory && !$lessonStatus.inProgress

  function lessonItemIsNotCircuit(lessonItem: LessonItemModel) {
    const circuit = $circuitStore.find(circuit => circuit.id === lessonItem.techniqueId)

    return !circuit
  }

  function getCircuit(lessonItem: LessonItemModel): Circuit {
    const circuit = $circuitStore.find(circuit => circuit.id === lessonItem.techniqueId)

    if (!circuit) {
      throw new Error('circuit was not found')
    }

    return circuit
  }

  function getOptionalCircuit(lessonItem: LessonItemModel) {
    return optionalOf($circuitStore.find(circuit => circuit.id === lessonItem.techniqueId))
  }
</script>

<div class="structure" data-test="editable-chapter">
  <div class="title">
    <span>
      <Translation translationCode={chapterTitle} />
      {#if enableEditing && chaptersAreNotStatic}
        <FAIcon name="fa-edit" on:click={onChapterTitleEdit} />
        <FAIcon name="fa-trash-can" on:click={onChapterDelete} />
      {/if}
    </span>
    {#if enableEditing && chaptersAreNotStatic}
      <span>
        {#if !isFirst}
          <span class="icon-container" on:click={onMoveUp}>
            <i class="fa-solid fa-angle-up" />
          </span>
        {/if}

        {#if !isLast}
          <span class="icon-container" on:click={onMoveDown}>
            <i class="fa-solid fa-angle-down" />
          </span>
        {/if}
      </span>
    {/if}
  </div>

  {#each lessonItems as lessonItem, index}
    {#if lessonItem}
      <div
        class="element"
        data-test='lessonItem'
        class:editable={enableEditing}
        class:hideBorder={index === lessonItems.length - 1}
        class:circuit-element={!lessonItemIsNotCircuit(lessonItem)}
        id={lessonItem.id}
        {draggable}
        on:dragstart={handleDragStart}
        on:dragend={handleDragEnd}
        on:dragenter={handleDragEnter}
        on:dragleave={handleDragLeave}
        on:drop={handleDragDrop}
        ondragover="return false"
        bind:this={refs[index]}
      >
        {#if visibilityOfTarget[index]}
          <div class='element-details'>
            <div>
              {#if showHistoryIndicators && $currentLesson && !shouldBeHistoryV2($currentLesson)}
                <HistoryIndicator lessonItemId={lessonItem.id} />
              {/if}
              {#if showHistoryIndicators && $currentLesson && shouldBeHistoryV2($currentLesson)}
                <HistoryIndicatorV2
                  lessonItemStatus={getHistoryIndicator(lessonItem, $lessonHistory, getOptionalCircuit(lessonItem))}
                />
              {/if}
              <span class="element-title">
                <Translation translationCode={lessonItem.title} />
              </span>
            </div>

            <div class="duration-container">
              <Duration duration={lessonItem.duration.minute * 60 + lessonItem.duration.second} />
            </div>

            <div class="operations-wrapper">
              <LessonItemOperations
                {chapterId}
                allowDurationChange={lessonItemIsNotCircuit(lessonItem)}
                lessonItemId={lessonItem.id}
                techniqueId={lessonItem.techniqueId}
                on:lessonElementEdit
                on:lessonElementRemove
                on:lessonElementClone
              />
            </div>
          </div>

          {#if !lessonItemIsNotCircuit(lessonItem)}
            <CircuitDetails lessonItemId={lessonItem.id} circuit={getCircuit(lessonItem)} {showHistoryIndicators}/>
          {/if}

        {:else }
          <div style='height: 30px'></div>
        {/if}
      </div>
    {/if}
  {/each}
</div>

<style>
  .icon-container {
    padding: 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
  }

  .icon-container:hover {
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }

  .title {
    font-weight: bold;
    padding: 8px 0;
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .element {
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    color: var(--color-secondary-dark);
    padding: 16px 8px;
    width: 360px;
  }

  .element.circuit-element {
    padding: 16px 8px 8px 8px;
  }

  .element.hideBorder {
    border: none;
  }

  .operations-wrapper {
    display: none;
  }

  .element-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .element-title {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .duration-container {
    display: flex;
    align-items: center;
    height: 20px;
  }

  .editable:hover > .element-details > .operations-wrapper {
    display: flex;
    align-items: center;
    height: 20px;
  }

  .editable:hover > .element-details > .duration-container {
    display: none;
  }
</style>
