<script lang="ts">
  import type { LessonItem as LessonItemModel } from '$lib/lessons/domain/lessons'
  import Translation from '$lib/common/components/Translation.svelte'
  import PlayableLessonItem from '$lib/lessons/components/lessonItems/PlayableLessonItem.svelte'

  /**
   * @deprecated component
   */


  export let chapterTitle = ''
  export let chapterId = ''
  export let lessonItems: LessonItemModel[] = []
</script>

<div class="immutable-chapter-structure">
  <div class="title">
    <Translation translationCode={chapterTitle} />
  </div>

  {#each lessonItems as lessonItem, index}
    {#if lessonItem}
      <PlayableLessonItem {lessonItem} {chapterId} />
    {/if}
  {/each}
</div>

<style>
  .title {
    font-weight: bold;
    padding: 8px 0;
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
