<script lang="ts">
  import Control from '$lib/common/components/presentation/Control.svelte'
  import { globalElapsed, globalRemaining, lessonStatus, playerEvents } from '$lib/lessons/uiLogic/lessonStore'
  import { formatSecondsDuration } from '$lib/common/domain/common'
  import Translation from '$lib/common/components/Translation.svelte'

  function stop() {
    playerEvents.update((value) => ({
      ...value,
      operation: 'forceStop',
    }))
  }

  function pause() {
    playerEvents.update((value) => {
      return {
        ...value,
        operation: 'pause',
        payload: {
          ...value.payload!,
          lessonItemId: $lessonStatus.currentLessonItem!.id,
        },
      }
    })
  }

  function resume() {
    playerEvents.update((value) => ({
      ...value,
      operation: 'resume',
    }))
  }

  function startAgain() {
    playerEvents.update((value) => {
      return {
        ...value,
        operation: 'retryLessonItem',
      }
    })
  }

  $: elapsed = formatSecondsDuration($globalElapsed)
  $: remaining = formatSecondsDuration($globalRemaining)

  $: isPaused = $lessonStatus.isPaused

  $: chapter = $lessonStatus.currentChapter?.title
  $: lessonItem = $lessonStatus.currentLessonItem?.title

  function onBeforeUnload(event: BeforeUnloadEvent) {
    event.preventDefault()
    return (event.returnValue = "");
  }
</script>

<svelte:window on:beforeunload={onBeforeUnload}/>

<div class="player-controls">
  <Control type="fa-rotate-right" invertColors={true} on:click={startAgain} />

  {#if isPaused}
    <Control type="fa-play" invertColors={true} on:click={resume} />
  {:else}
    <Control type="fa-pause" invertColors={true} on:click={pause} />
  {/if}

  <div class="current-lesson-item">
    <span class="lesson-item-name">
      <Translation translationCode={chapter} />
    </span>
    <span class="lesson-item-name">
      {lessonItem}
    </span>
  </div>
</div>

<div class="player-controls">
  <Control type="fa-stop" invertColors={true} on:click={stop} />
  <div class="current-lesson-item">
    <span class="duration">
      <Translation translationCode="elapsedTime" />: {elapsed}
    </span>
    <span class="duration">
      <Translation translationCode="remainingTime" />: {remaining}
    </span>
  </div>
</div>

<style>
  .player-controls {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 32px;
  }

  .current-lesson-item {
    display: flex;
    flex-direction: column;
  }

  .lesson-item-name {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .lesson-item-name i {
    font-size: 20px;
  }

  .duration {
    font-size: 20px;
  }
</style>
