<script lang='ts'>
  import { page } from '$app/stores'
  import { loadCircuitById, temporaryCircuit } from '../../_uiLogic/circuits'
  import CircuitPage from '../../_components/CircuitPage.svelte'

  $: circuitId = $page.url.pathname.split('/').pop()

  temporaryCircuit.set(loadCircuitById($page.url.pathname.split('/').pop()) ?? null)
</script>

<CircuitPage circuitId={circuitId} />
