<script lang='ts'>
  import VerticalTab from '$lib/common/components/verticalTabs/VerticalTab.svelte'
  import Translation from '$lib/common/components/Translation.svelte'
  import VerticalTabsContainer from '$lib/common/components/verticalTabs/VerticalTabsContainer.svelte'
  import type { TabLinks } from './+layout'

  export let data: TabLinks
</script>

<VerticalTabsContainer>
  <svelte:fragment slot='navigation'>
    <VerticalTab selected={data.lessonEdit.selected} href={data.lessonEdit.href}>
      <span class='menu-item'>
        <i class='fa-solid fa-edit' />
        <Translation translationCode='lessonEditing' />
      </span>
    </VerticalTab>

    <VerticalTab selected={data.lessonDelete.selected} href={data.lessonDelete.href}>
      <span class='menu-item'>
        <i class='fa-regular fa-trash-can' />
        <Translation translationCode='lessonDelete' />
      </span>
    </VerticalTab>

    <VerticalTab selected={data.lessonNavigation.selected} href={data.lessonNavigation.href}>
      <span class='menu-item'>
        <i class='fa-regular fa-trash-can' />
        <Translation translationCode='lessonNavigation' />
      </span>
    </VerticalTab>

    <!--    <VerticalTab selected={data.lessonItemDuration.selected} href={data.lessonItemDuration.href}>-->
<!--      <span class='menu-item'>-->
<!--        <i class='fa-regular fa-clock' />-->
<!--        <Translation translationCode='lessonItemDuration' />-->
<!--      </span>-->
<!--    </VerticalTab>-->
  </svelte:fragment>

  <svelte:fragment slot='content'>
    <slot />
  </svelte:fragment>
</VerticalTabsContainer>
