<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'
  import VerticalTabsContainer from '$lib/common/components/verticalTabs/VerticalTabsContainer.svelte'
  import VerticalTab from '$lib/common/components/verticalTabs/VerticalTab.svelte'
  import type { TabLinks } from './+layout.ts'

  export let data: TabLinks
</script>

<VerticalTabsContainer>
  <svelte:fragment slot="navigation">
    <VerticalTab selected={data.downloadLink.selected} href={data.downloadLink.href}>
      <span class="menu-item">
        <i class="fa-solid fa-download" />
        <Translation translationCode="download" />
      </span>
    </VerticalTab>

    <VerticalTab selected={data.uploadLink.selected} href={data.uploadLink.href}>
      <span class="menu-item">
        <i class="fa-solid fa-upload" />
        <Translation translationCode="upload" />
      </span>
    </VerticalTab>
  </svelte:fragment>

  <svelte:fragment slot="content">
    <slot />
  </svelte:fragment>
</VerticalTabsContainer>

<style>
  .menu-item {
    display: flex;
    gap: 8px;
  }
</style>
