<script lang="ts">
  import FormModal from '$lib/common/components/presentation/FormModal.svelte'
  import { createEventDispatcher } from 'svelte'
  import { dateIsInThePast, formatDateStandard } from '$lib/common/domain/common'
  import { t } from 'i18next'

  export let originalDate: Date
  export let validDates: Record<string, string>
  export let title = 'editDateModalTitle'

  let form: HTMLFormElement
  let errors: Set<string> = new Set()
  let selectedDate = formatDateStandard(originalDate)

  let hasErrors = false

  const dispatch = createEventDispatcher()
  $: dateIsModified = formatDateStandard(originalDate) !== selectedDate
  $: isInThePast = dateIsInThePast(new Date(selectedDate))
  $: dateIsTaken = !!validDates[selectedDate]

  $: {
    if (dateIsModified && isInThePast) {
      errors.clear()
      errors.add(t('dateIsInThePast'))
    }
    else if (dateIsModified && dateIsTaken) {
      errors.clear()
      errors.add(t('dateIsTaken'))
    } else {
      errors.clear()
    }

    errors = errors

    // This is the only way reactivity will work, because errors is an object
    hasErrors = errors.size > 0
  }
  function submit(event: CustomEvent) {

    const data = event.detail.formData
    if (!hasErrors) {
      dispatch('submit', {
        date: new Date(data.get('date').toString()),
      })
    }

  }
</script>

<FormModal title={title} {hasErrors} on:clickClose on:submit={submit}>
  <div class="element-container">
    <div class="form-element">
      <input type="date" required bind:value={selectedDate} name="date" />
    </div>
    {#if hasErrors}
      {#each [...errors] as errorMessage}
        <div class="error">
          {errorMessage}
        </div>
      {/each}
    {/if}
  </div>
</FormModal>

<style>
  .element-container {
    display: flex;
    flex-direction: column;
  }

  .form-element {
    margin: 16px 0;
  }

  .form-element input {
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    padding: 4px;
  }

  .error {
    color: var(--color-error);
    margin-bottom: 16px;
  }
</style>
