<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import type { AddLessonEvent } from './index'
  import LessonSummaryContainer from '$lib/lessons/components/lessonNavigation/presentation/LessonSummaryContainer.svelte'
  import Translation from '$lib/common/components/Translation.svelte'

  export let day: string
  export let date: string
  export let formattedDate: string
  export let canAddLesson = false

  const dispatch = createEventDispatcher<AddLessonEvent>()

  function onClick() {
    dispatch('click', {
      day,
    })
  }
</script>

<div class='empty-day-container'>
  <div class="empty-day" data-test={`emptyDay:${formattedDate}`} on:click={onClick} class:disabled={!canAddLesson} >
    <LessonSummaryContainer>
    <span slot="action1" class="actions">
      <i class="fa-solid fa-plus"  />
    </span>

      <span slot="text1">
      {date}
    </span>
    </LessonSummaryContainer>
  </div>
  {#if !canAddLesson}
    <span class="tooltip">
      <Translation translationCode='lessonAddDisabled'/>
    </span>
  {/if}
</div>

<style>
  .empty-day-container {
    position: relative;
  }
  .empty-day {
    padding: 16px 16px;
    color: var(--color-secondary-dark);
    border-bottom: 1px solid var(--color-secondary-light);

  }

  .empty-day:hover {
    cursor: pointer;
    background-color: var(--color-surface);
  }

  .empty-day.disabled {
    cursor: auto;
    opacity: .3;
    background-color: var(--color-background);
  }

  .actions {
    font-size: 20px;
    color: var(--color-primary);
    position: relative;
  }

  .actions:hover {
    cursor: pointer;
    color: var(--color-primary-light);
  }

  .empty-day-container:hover > .tooltip {
    display: flex;
  }

  .tooltip {
    justify-content: center;
    display: none;
    min-width: 160px;
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    background-color: var(--color-surface);
    z-index: 10;
    position: absolute;
    left: 183px;
    top: 0;
    padding: 8px;
    color: var(--color-primary);
    font-size: 16px;
  }

</style>
