<script lang="ts">
  export let rowGapNeeded = false
</script>

<div class="lesson-summary-container">
  <div class="grid-container" class:with-row-gap={rowGapNeeded}>
    <div class="row">
      <div class="actions grid-item">
        <slot name="action1" />
      </div>

      <div class="grid-item">
        <slot name="text1" />
      </div>
    </div>

    <div class="row">
      <div class="actions grid-item">
        <slot name="action2" />
      </div>

      <div class="grid-item">
        <slot name="text2" />
      </div>
    </div>
  </div>
</div>

<style>
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .actions {
    font-size: 20px;
  }

  .with-row-gap {
    gap: 8px;
  }
</style>
