<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import type { LessonEvent } from '$lib/lessons/components/lessonNavigation/presentation/index'
  import FAIcon from '$lib/common/components/presentation/FAIcon.svelte'
  import LessonSummaryContainer from '$lib/lessons/components/lessonNavigation/presentation/LessonSummaryContainer.svelte'

  export let title
  export let day
  export let isActive
  export let date: string
  export let formattedDate: string
  export let enableEditing = false

  const dispatch = createEventDispatcher<LessonEvent>()

  function onSelect() {
    dispatch('select', { day })
  }

  function onDelete() {
    if (enableEditing) {
      dispatch('delete', {
        day,
      })
    }
  }

  function onClone() {
    dispatch('clone', {
      day,
    })
  }

  function onEditTitleClick() {
    if (enableEditing) {
      dispatch('editTitle', {
        day,
      })
    }
  }

  function onCalendarClick() {
    if (enableEditing) {
      dispatch('editDate', {
        day,
      })
    }
  }
</script>

<div class="lesson" class:active={isActive} class:notActive={!isActive} on:click={onSelect}>
  <i class="fa-solid fa-chevron-left date-change" />
  <LessonSummaryContainer rowGapNeeded={true}>
    <span slot="action1" on:click={onCalendarClick}>
      <FAIcon name="fa-calendar" enabled={enableEditing}  dataTest={`calendar:${formattedDate}`} />
    </span>

    <span slot="text1">
      {date}
    </span>

    <span slot="action2" on:click={onEditTitleClick}>
      <FAIcon name="fa-edit" enabled={enableEditing} dataTest={`edit:${formattedDate}`}/>
    </span>

    <span slot="text2">
      {title}
    </span>
  </LessonSummaryContainer>

  {#if isActive}
    <div class="lesson-actions">
      <div class="trash-container" on:click={onClone}>
        <FAIcon name="fa-clone" dataTest={`clone:${formattedDate}`}/>
      </div>

      <div class="trash-container" on:click={onDelete}>
        <FAIcon name="fa-trash-can" enabled={enableEditing} dataTest={`delete:${formattedDate}`} />
      </div>
    </div>
  {/if}
  <i class="fa-solid fa-chevron-right date-change" />
</div>

<style>
  .lesson {
    display: flex;
    padding: 16px 16px;
    align-items: center;
    justify-content: space-between;
    color: var(--color-secondary-dark);
  }

  @media (min-width: 576px) {
    .date-change {
      display: none;
    }
  }

  .notActive {
    border-bottom: 1px solid var(--color-secondary-light);
  }

  .lesson.notActive:hover {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    cursor: pointer;
    color: #0d8377;
    font-style: normal;
  }

  .active {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), -2px 1px 1px 0 rgba(0, 0, 0, 0.14), -4px 1px 3px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    background-color: white;
    border-right: 1px solid white;
    position: relative;
    z-index: 1;
    color: var(--color-primary);
    font-style: normal;
  }

  .lesson-actions {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .trash-container {
    font-size: 20px;
  }
</style>
