<div class="days-container">
  <slot name="desktop" />
</div>

<style>
  .days-container {
    display: none;
    color: var(--color-secondary-dark);
  }

  @media (min-width: 576px) {
    .days-container {
      display: block;
    }
  }
</style>
