<script lang="ts">
  import type { NoteId, ProcessedHistory } from '$lib/lessons/domain/history'
  import { formatSecondsDuration } from '$lib/common/domain/common.js'
  import Breakdown from '$lib/common/components/breakdown/Breakdown.svelte'
  import Button from '$lib/common/components/presentation/Button.svelte'
  import Translation from '$lib/common/components/Translation.svelte'
  import Note from '$lib/lessons/components/main/presentation/Note.svelte'
  import Submit from '$lib/common/components/form/Submit.svelte'
  import Cancel from '$lib/common/components/form/Cancel.svelte'
  import { addNoteToHistory, deleteNote, loadNotes, updateNote } from '$lib/lessons/domain/history'
  import type { NoteEventPayload } from '$lib/lessons/components/main/presentation'

  export let history: ProcessedHistory

  /**
   * @deprecated component
   */

  let notes = loadNotes(history.lessonId)

  $: lineItems = [
    // {
    //   label: 'totalActiveTime',
    //   value: formatSecondsDuration(history.totalActiveTime),
    // },
    // {
    //   label: 'totalPauseTime',
    //   value: formatSecondsDuration(history.totalPauseTime),
    // },
    {
      label: 'totalTime',
      value: formatSecondsDuration(history.totalTime),
    },
  ]

  let shouldShowAddInput = false

  function showAddInput() {
    shouldShowAddInput = true
  }

  function saveNote(event: SubmitEvent) {
    const formData = new FormData(event.target)

    const note = formData.get('note')

    if (note) {
      notes = addNoteToHistory(history.lessonId, note.toString())
    }

    shouldShowAddInput = false
  }

  function cancelNote() {
    shouldShowAddInput = false
  }

  let shouldShowEditInput: Record<NoteId, boolean> = {}

  function editNote(event: CustomEvent<NoteEventPayload>) {
    shouldShowEditInput[event.detail.noteId] = true
  }

  function submitUpdateNote(event: SubmitEvent, noteId: NoteId) {
    const formData = new FormData(event.target)

    const note = formData.get('note')

    if (note) {
      notes = updateNote(history.lessonId, noteId, note.toString())
    }

    shouldShowEditInput[noteId] = false
  }

  function onDelete(event: CustomEvent<NoteEventPayload>) {
    notes = deleteNote(history.lessonId, event.detail.noteId)
  }

  function cancelEditNote(noteId: NoteId) {
    shouldShowEditInput[noteId] = false
  }
</script>

<Breakdown {lineItems} />
<div class="notes-container">
  <div class="title"><Translation translationCode="notes" /></div>

  <div class="button-container">
    <Button label="newNote" on:click={showAddInput} />
  </div>

  {#if shouldShowAddInput}
    <div class="add-note-container">
      <form on:submit|preventDefault={saveNote}>
        <textarea cols="60" rows="6" name="note" required />

        <div class="operations">
          <Submit />
          <Cancel on:click={cancelNote} />
        </div>
      </form>
    </div>
  {/if}

  {#if notes}
    <div class="notes">
      {#each notes as note}
        <div class="note-container">
          {#if !shouldShowEditInput[note.id]}
            <Note noteId={note.id} content={note.content} on:edit={editNote} on:delete={onDelete} />
          {:else}
            <form on:submit|preventDefault={(event) => submitUpdateNote(event, note.id)}>
              <textarea cols="60" rows="6" name="note" required>{note.content}</textarea>

              <div class="operations">
                <Submit />
                <Cancel on:click={() => cancelEditNote(note.id)} />
              </div>
            </form>
          {/if}
        </div>
      {/each}
    </div>
  {/if}
</div>

<style>
  .notes-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
    width: auto;
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: var(--color-primary);
  }

  .button-container {
    width: fit-content;
  }

  .add-note-container {
    margin-top: 24px;
  }

  .operations {
    display: flex;
    gap: 4px;
  }

  .notes {
    color: var(--color-primary);
  }

  .note-container {
    border-top: 1px solid var(--color-primary);
    padding: 16px;
  }
</style>
