<script lang="ts">
  import { lessonStatus } from '$lib/lessons/uiLogic/lessonStore'
  import { formatSecondsDuration } from '$lib/common/domain/common'

  /**
   * @deprecated component
   */

  $: lessonItemRemainingTime = formatSecondsDuration($lessonStatus.currentLessonItemRemainingTime ?? 0)
</script>

<div class="player-container">
  <span class="duration">
    <span>
      {lessonItemRemainingTime}
    </span>
  </span>
</div>

<style>
  .duration {
    display: flex;
    flex-direction: column;
    color: var(--color-primary);
    font-size: 500%;
    text-transform: uppercase;
    align-items: center;
  }

  @media (min-width: 900px) {
    .duration {
      font-size: 8rem;
    }
  }

  @media (min-width: 1280px) {
    .duration {
      font-size: 16rem;
    }
  }

  @media (min-width: 1400px) {
    .duration {
      font-size: 20rem;
    }
  }
</style>
