<script lang="ts">
  import { formatSecondsDuration } from '$lib/common/domain/common'
  import { currentLesson } from '$lib/lessons/uiLogic/lessonStore'
  import { getLessonBreakdown } from '$lib/lessons/domain/lesson'
  import type { LineItem } from '$lib/common/components/breakdown'
  import Breakdown from '$lib/common/components/breakdown/Breakdown.svelte'

  let breakdown = {
    totalActiveTime: 0,
    totalPauseTime: 0,
    totalTime: 0,
  }

  currentLesson.subscribe((lesson) => {
    if (lesson) {
      breakdown = getLessonBreakdown(lesson)
    }
  })

  $: lineItems = Object.entries(breakdown)
    .filter((value) => value[0] === 'totalTime')
    .map<LineItem>((value) => ({
      label: value[0],
      value: formatSecondsDuration(value[1]),
    }))
</script>

<Breakdown {lineItems} />
