<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import type { RemoveTemporaryItemEvent } from '$lib/lessons/components/lessonNavigation/presentation'

  export let duration: string
  export let name: string
  export let index: number

  const dispatch = createEventDispatcher<RemoveTemporaryItemEvent>()

  function onRemove() {
    dispatch('remove', {
      index,
    })
  }
</script>

<div class="chosen-item" data-test='chosen-item'>
  <div class="description">
    <i class="fa-regular fa-clock" />
    {duration}
    -
    {name}
  </div>

  <div class="remove-item" on:click={onRemove} data-test='remove-item'>
    <i class="fa-solid fa-xmark" />
  </div>
</div>

<style>
  .chosen-item {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
  }

  .description {
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .remove-item {
    padding: 4px 8px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
  }

  .remove-item:hover {
    cursor: pointer;
    background-color: var(--color-on-primary);
    color: var(--color-primary);
  }
</style>
