<script lang="ts">
  import FormModal from '$lib/common/components/presentation/FormModal.svelte'
  import { createEventDispatcher } from 'svelte'
  import type { EditLessonDurationEvent } from '$lib/lessons/components/lessonNavigation/presentation'

  export let minute: number
  export let second: number

  const dispatch = createEventDispatcher<EditLessonDurationEvent>()

  let form: HTMLFormElement

  function submit() {
    dispatch('submit', {
      minute,
      second,
    })
  }
</script>

<FormModal title="editLessonDurationModalTitle" on:clickClose on:submit={submit}>
  <div class="element-container">
    <div class="form-element">
      <input class="time" type="number" bind:value={minute} min="0" />
      <input class="time" type="number" bind:value={second} min="0" max="59" />
    </div>
  </div>
</FormModal>

<style>
  .element-container {
    display: flex;
    flex-direction: column;
  }

  .form-element {
    margin: 16px 0;
  }

  .form-element input {
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    padding: 4px;
  }
</style>
