<script lang='ts'>
  import { createEventDispatcher } from 'svelte'
  import Translation from '$lib/common/components/Translation.svelte'
  import type { LessonItemEvent, LessonItemDuration } from '$lib/lessons/components/lessonItems/presentation/index'
  import { defaultLessonItemDuration } from '$lib/common/domain/configurations'

  export let name: string
  export let id: string
  export let duration: LessonItemDuration = defaultLessonItemDuration
  export let displayAddButton = true

  let minute = duration.minute
  let second = duration.second

  let expanded = true

  const dispatch = createEventDispatcher<LessonItemEvent>()

  function addTech() {
    dispatch('lessonItemAdded', {
      duration: {
        minute,
        second,
      },
      name,
      id,
    })
  }

  function editDuration() {
    dispatch('change', {
      duration: {
        minute,
        second,
      },
      name,
      id,
    })
  }
</script>

<div class='tech-item' data-test='technique'>
  <div class='item-title' class:expanded>
    <div class="name" data-test={'name'}>
      <Translation translationCode={name} />
    </div>
  </div>

  <form class='set-time' class:expanded class:hide-add={displayAddButton === false} on:submit|preventDefault={addTech}>
    <div class='minute'>
      <div>
        <Translation translationCode='time' />
      </div>
      <input class='time' type='number' bind:value={minute} min='0' name='minute' on:input={editDuration} />
      <input class='time' type='number' bind:value={second} min='0' name='second' max='59' on:input={editDuration} />
    </div>
    {#if displayAddButton}
      <button type="submit" class="add-final" data-test='add-technique'>
        <i class="fa-solid fa-check" />
      </button>
    {/if}
  </form>
</div>

<style>
  .tech-item {
    display: flex;
    color: var(--color-primary);
    flex-direction: column;
    width: 200px;
    justify-content: space-between;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
  }

  .item-title {
    display: flex;
    justify-content: space-between;
  }

  .item-title.expanded {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .name {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
  }

  .set-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .set-time.expanded {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .set-time.hide-add {
    padding: 8px 0;
  }

  .time {
    width: 40px;
  }

  .minute {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 4px 8px;
  }

  .add-final {
    width: 36px;
    height: 36px;
    padding: 8px;
    text-align: center;
    background-color: var(--color-surface);
    color: var(--color-primary);
    border: none;
    border-radius: 4px;
  }

  .add-final:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
</style>
