<script lang="ts">
  import { lessonHistory } from '$lib/lessons/uiLogic/lessonStore'
  import NotCompleteIcon from '$lib/lessons/components/lessonItems/presentation/NotCompleteIcon.svelte'
  import CompleteIcon from '$lib/lessons/components/lessonItems/presentation/CompleteIcon.svelte'
  import SkippedIcon from '$lib/lessons/components/lessonItems/presentation/SkippedIcon.svelte'

  /**
   * @deprecated component
   */
  export let lessonItemId: string

  $: lessonItemStatus = $lessonHistory?.lessonItemStatuses[lessonItemId]?.status ?? undefined
</script>

<span class="icons">
  {#if lessonItemStatus === 'incomplete'}
    <NotCompleteIcon />
  {/if}

  {#if lessonItemStatus === 'completedLessonItem'}
    <CompleteIcon />
  {/if}

  {#if lessonItemStatus === undefined}
    <SkippedIcon />
  {/if}
</span>
