<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import type { LessonItem as LessonItemModel } from '$lib/lessons/domain/lessons'
  import type { ElementEvent } from '$lib/lessons/components/lessonNavigation/presentation'
  import Translation from '$lib/common/components/Translation.svelte'
  import Duration from '$lib/common/components/Duration.svelte'
  import HistoryIndicator from '$lib/lessons/components/lessonItems/presentation/HistoryIndicator.svelte'
  import { showImageIcon, showVideoIcon } from '$lib/lessons/uiLogic/lessonItems'
  import { techniqueStore } from '$lib/lessons/uiLogic/techniques'
  import { currentLesson, lessonStatus, shouldEnableEditing } from '$lib/lessons/uiLogic/lessonStore'
  import { lessonIsNotInThePast } from '$lib/common/domain/common'
  import MediaIcons from '$lib/lessons/components/common/MediaIcons.svelte'

  /**
   * @deprecated component
   */

  export let lessonItem: LessonItemModel
  export let chapterId: string
  export let isActive = false
  export let showHistoryIndicators = false

  export let isLast = false

  const dispatch = createEventDispatcher<ElementEvent>()

  const onSelect = () => {
    dispatch('selectLessonElement', {
      elementId: lessonItem.id,
      chapterId,
    })
  }

  $: enableEditing =
    shouldEnableEditing($lessonStatus, $currentLesson) || ($currentLesson && lessonIsNotInThePast($currentLesson))
  $: showVideoIconFlag = showVideoIcon($techniqueStore, lessonItem.techniqueId) && enableEditing
  $: showImageIconFlag = showImageIcon($techniqueStore, lessonItem.techniqueId) && enableEditing

  let technique = $techniqueStore.find((value) => value.id === lessonItem.techniqueId)
</script>

<div class="element" class:hideBorder={isLast}>
  {#if showHistoryIndicators}
    <div class="icons">
      <HistoryIndicator lessonItemId={lessonItem.id} />
    </div>
  {/if}
  <span class="element-title" class:isActive on:click={onSelect}>
    <span class="summary-title">
      <Translation translationCode={lessonItem.title} />
    </span>
  </span>

  <MediaIcons showVideoIcon={showVideoIconFlag} showImageIcon={showImageIconFlag} {technique} />

  <div class="duration-container">
    <Duration duration={lessonItem.duration.minute * 60 + lessonItem.duration.second} />
  </div>
</div>

<style>
  .element {
    border-bottom: 1px solid var(--color-secondary-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-secondary-dark);
    padding: 16px 0;
  }

  .element:hover {
    color: var(--color-primary);
    cursor: pointer;
  }

  .hideBorder {
    border: none;
  }

  .element-title {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .isActive {
    color: var(--color-primary);
    font-weight: bold;
  }
</style>
