<script lang='ts'>
  import { getMediaLink, showImageIcon, showVideoIcon } from '$lib/lessons/uiLogic/lessonItems'
  import { techniqueStore } from '$lib/lessons/uiLogic/techniques'
  import { currentLesson, lessonStatus, shouldEnableEditing } from '$lib/lessons/uiLogic/lessonStore'
  import YoutubeModal from '$lib/common/components/YoutubeModal.svelte'
  import ImageModal from '$lib/common/components/ImageModal.svelte'
  import { transformWatchLinkToEmbedLink } from '$lib/common/domain/common'
  import { createEventDispatcher } from 'svelte'
  import type { ElementEvent } from '$lib/lessons/components/lessonNavigation/presentation'
  import TooltipIconWithAction from '$lib/common/components/presentation/TooltipIconWithAction.svelte'
  import { getLessonItem, isSoundEnabled } from '$lib/lessons/domain/lesson'
  import { setSoundEffectStatus } from '$lib/lessons/domain/lessons'

  export let chapterId: string
  export let lessonItemId: string
  export let techniqueId: string
  export let isSoundEnabledProp: boolean | null = null
  export let allowDurationChange = true

  $: enableEditing = shouldEnableEditing($lessonStatus, $currentLesson)
  $: showVideoIconFlag = showVideoIcon($techniqueStore, techniqueId)
  $: showImageIconFlag = showImageIcon($techniqueStore, techniqueId)

  // This bullshit with NaN is needed, because I'm accessing this from non-lesson context as well.
  $: lessonItem = $currentLesson && isNaN(Number(chapterId)) ? getLessonItem($currentLesson, chapterId, lessonItemId) : undefined
  $: isSoundEffectEnabled = isSoundEnabledProp === null ? (lessonItem ? isSoundEnabled(lessonItem) : false) : isSoundEnabledProp

  $: mediaLink = getMediaLink($techniqueStore, techniqueId)

  $: enableDurationEdit = enableEditing && allowDurationChange

  let showVideoFlag = false

  function showVideo() {
    showVideoFlag = true
  }

  let showImageFlag = false

  function showImage() {
    showImageFlag = true
  }

  function closeModal() {
    showVideoFlag = false
    showImageFlag = false
  }

  const dispatch = createEventDispatcher<ElementEvent>()

  const onEdit = () => {
    dispatch('lessonElementEdit', {
      elementId: lessonItemId,
      chapterId,
    })
  }

  const onDelete = () => {
    dispatch('lessonElementRemove', {
      elementId: lessonItemId,
      chapterId,
    })
  }

  function onClone() {
    dispatch('lessonElementClone', {
      elementId: lessonItemId,
      chapterId,
    })
  }

  function enableSoundEffect() {
    if ($currentLesson) {
      currentLesson.set(setSoundEffectStatus(true, lessonItemId, chapterId, $currentLesson))
    }

    dispatch('enableSound', {
      elementId: lessonItemId,
      chapterId,
    })
  }

  function disableSoundEffect() {
    if ($currentLesson) {
      currentLesson.set(setSoundEffectStatus(false, lessonItemId, chapterId, $currentLesson))
    }

    dispatch('disableSound', {
      elementId: lessonItemId,
      chapterId,
    })
  }
</script>

<div class='operations'>
  {#if isSoundEffectEnabled}
    <TooltipIconWithAction
      translationCode='disableSoundEffect'
      faIcon='fa-solid fa-volume-high'
      dataTest='disableSoundEffect'
      on:click={disableSoundEffect} />
  {:else }
    <TooltipIconWithAction
      translationCode='enableSoundEffect'
      faIcon='fa-solid fa-volume-xmark'
      dataTest='enableSoundEffect'
      on:click={enableSoundEffect} />
  {/if}

  {#if showVideoIconFlag}
    <TooltipIconWithAction translationCode='hasVideo' faIcon='fa-solid fa-video' dataTest='hasVideo' on:click={showVideo} />
  {/if}

  {#if showImageIconFlag}
    <TooltipIconWithAction translationCode='hasImage' faIcon='fa-solid fa-image' dataTest='hasImage' on:click={showImage} />
  {/if}

  {#if enableEditing}
    <TooltipIconWithAction translationCode='clone' faIcon='fa-regular fa-clone' dataTest='clone' on:click={onClone} />
  {/if}

  {#if enableDurationEdit}
    <TooltipIconWithAction
      translationCode='editLessonDurationModalTitle'
      faIcon='fa-regular fa-edit'
      dataTest='edit'
      on:click={onEdit} />
  {/if}

  {#if enableEditing}
    <TooltipIconWithAction
      translationCode='delete'
      dataTest='delete'
      faIcon='fa-regular fa-trash-can'
      on:click={onDelete} />
  {/if}
</div>

{#if showVideoFlag}
  <YoutubeModal on:clickClose={closeModal} videoLink={transformWatchLinkToEmbedLink(mediaLink)} />
{/if}

{#if showImageFlag}
  <ImageModal on:clickClose={closeModal} imageLink={mediaLink} />
{/if}

<style>
  .operations {
    display: flex;
  }
</style>
