<script lang="ts">
  import TooltipIcon from '$lib/common/components/presentation/TooltipIcon.svelte'
</script>

<TooltipIcon translationCode="notCompleted" faIcon="fa-solid fa-triangle-exclamation" type="warning" />
