<script lang="ts">
  import TooltipIcon from '$lib/common/components/presentation/TooltipIcon.svelte'
</script>

<TooltipIcon translationCode="skipped" faIcon="fa-regular fa-circle-xmark" type="error" />
