<script lang="ts">
  import ChosenItem from '$lib/lessons/components/lessonItems/presentation/ChosenItem.svelte'
  import type { TemporaryLesson } from '$lib/lessons/components/lessonNavigation/presentation'

  export let temporaryItems: TemporaryLesson[]
</script>

<div class="items">
  {#each temporaryItems as item, index}
    <ChosenItem name={item.name} duration={item.duration} {index} on:remove />
  {/each}
</div>

<style>
  .items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>
