<script lang='ts'>
  import Technique from '$lib/lessons/components/techniques/presentation/Technique.svelte'
  import TechniqueList from '$lib/lessons/components/techniques/presentation/TechniqueList.svelte'
  import SaveTechModal from '$lib/lessons/components/techniques/presentation/SaveTechModal.svelte'
  import type {
    CircuitEventPayload,
    SaveTechniqueEventPayload,
    TechniqueEventPayload,
  } from '$lib/lessons/components/techniques/presentation'
  import { deleteTechnique, hasVideo, hasImage } from '$lib/lessons/domain/techniques'
  import type { Technique as TechniqueModel } from '$lib/lessons/domain/techniques'
  import type { Circuit as CircuitModel } from './_domain/circuits'
  import { edit, techniqueStore } from '$lib/lessons/uiLogic/techniques'
  import type { SearchCircuitEventPayload } from '$lib/lessons/uiLogic/techniques'
  import MediaIcons from '$lib/lessons/components/common/MediaIcons.svelte'
  import SearchTechniques from '$lib/lessons/components/common/SearchTechniques.svelte'
  import type { SearchTechniqueEventPayload } from '$lib/lessons/uiLogic/techniques'
  import AddTechnique from '$lib/lessons/components/techniques/AddTechnique.svelte'
  import HorizontalTabsContainer from '$lib/common/components/horizontalTabs/HorizontalTabsContainer.svelte'
  import Tab from '$lib/common/components/horizontalTabs/Tab.svelte'
  import { circuitStore, deleteCircuit } from './_uiLogic/circuits'
  import Circuit from '$lib/lessons/components/techniques/presentation/Circuit.svelte'
  import TechniquesLayout from '$lib/lessons/components/techniques/presentation/TechniquesLayout.svelte'
  import SearchCircuits from '$lib/lessons/components/common/SearchCircuits.svelte'
  import { page } from '$app/stores'
  import AddButton from '$lib/lessons/components/techniques/presentation/AddButton.svelte'
  import Translation from '$lib/common/components/Translation.svelte'
  import { goto } from '$app/navigation'

  let techniques = $techniqueStore
  let technique: TechniqueModel | undefined

  let circuits = $circuitStore
  let circuit: CircuitModel | undefined

  let tab = $page.url.hash.slice(1)

  techniqueStore.subscribe((values) => {
    techniques = values
  })

  circuitStore.subscribe(values => {
    circuits = values
  })

  function onDelete(event: CustomEvent<TechniqueEventPayload>) {
    techniques = deleteTechnique(event.detail.techniqueId)

    techniqueStore.set(techniques)
  }

  function onDeleteCircuit(event: CustomEvent<CircuitEventPayload>) {
    deleteCircuit(event.detail.id)
  }

  let showEditModal = false

  function onEdit(event: CustomEvent<TechniqueEventPayload>) {
    showEditModal = true

    technique = techniques.find((value) => value.id === event.detail.techniqueId)
  }

  function saveOnEdit(event: CustomEvent<SaveTechniqueEventPayload>) {
    if (technique) {
      techniques = edit(technique.id, event.detail.name, event.detail.video)
    }

    closeModal()
  }

  function onSearch(event: CustomEvent<SearchTechniqueEventPayload>) {
    techniques = event.detail.techniques
  }


  function onEditCircuit(event: CustomEvent<CircuitEventPayload>) {
    goto($page.url.pathname + `/circuit/${event.detail.id}` + $page.url.search)
  }

  function onSearchCircuits(event: CustomEvent<SearchCircuitEventPayload>) {
    circuits = event.detail.circuits
  }

  function closeModal() {
    showEditModal = false
  }
</script>

<div class='main'>
  <HorizontalTabsContainer>
    <Tab label='techniques' dataTest='techniques' isDefault={tab === 'techniques'}>
      <TechniquesLayout>
        <svelte:fragment slot='search'>
          <SearchTechniques on:search={onSearch} autofocus={false} displayLabel={false} placeholder='Search' />
        </svelte:fragment>

        <svelte:fragment slot='addAction'>
          <AddTechnique />
        </svelte:fragment>

        <svelte:fragment slot='elementList'>
          <TechniqueList>
            {#each techniques as tech}
              <Technique techniqueId={tech.id} techniqueName={tech.name} on:edit={onEdit} on:delete={onDelete}>
                <MediaIcons showImageIcon={hasImage(tech)} showVideoIcon={hasVideo(tech)} technique={tech} />
              </Technique>
            {/each}
          </TechniqueList>
        </svelte:fragment>
      </TechniquesLayout>
    </Tab>

    <Tab label='circuits' dataTest='circuits' isDefault={tab === 'circuits'}>
      <TechniquesLayout>
        <svelte:fragment slot='search'>
          <SearchCircuits on:search={onSearchCircuits} autofocus={false} displayLabel={false} placeholder='Search' />
        </svelte:fragment>

        <svelte:fragment slot='addAction'>
          <AddButton>
            <svelte:fragment slot="label">
              <Translation translationCode="addCircuit" />
            </svelte:fragment>
          </AddButton>
        </svelte:fragment>

        <svelte:fragment slot='elementList'>
          <TechniqueList>
            {#each circuits as circuit}
              <Circuit
                id={circuit.id}
                name={circuit.name}
                on:edit={onEditCircuit}
                on:delete={onDeleteCircuit}
              />
            {/each}
          </TechniqueList>
        </svelte:fragment>
      </TechniquesLayout>
    </Tab>
  </HorizontalTabsContainer>
</div>

{#if showEditModal && technique}
  <SaveTechModal name={technique.name} video={technique.video} on:submit={saveOnEdit} on:clickClose={closeModal} />
{/if}

<style>
  .main {
    background-color: var(--color-surface);
  }
</style>
