<script lang="ts">
  import TooltipIconWithAction from '$lib/common/components/presentation/TooltipIconWithAction.svelte'
  import type { NoteId } from '$lib/lessons/domain/history'
  import { createEventDispatcher } from 'svelte'
  import type { NoteEvent } from '$lib/lessons/components/main/presentation/index'

  export let noteId: NoteId
  export let content = ''

  const dispatch = createEventDispatcher<NoteEvent>()

  function onEdit() {
    dispatch('edit', { noteId })
  }

  function onDelete() {
    dispatch('delete', { noteId })
  }
</script>

<div class="note">
  <div class="content">
    {content}
  </div>

  <div class="operations">
    <TooltipIconWithAction
      translationCode="Modificare"
      faIcon="fa-regular fa-edit"
      on:click={onEdit}
      tooltipPosition="upperLeft"
    />
    <TooltipIconWithAction
      translationCode="delete"
      faIcon="fa-regular fa-trash-can"
      on:click={onDelete}
      tooltipPosition="upperLeft"
    />
  </div>
</div>

<style>
  .note {
    display: flex;
    justify-content: space-between;
  }

  .content {
    max-width: 400px;
  }
</style>
