<script lang='ts'>
  import Translation from '$lib/common/components/Translation.svelte'
  import Submit from '$lib/common/components/form/Submit.svelte'
  import { loadLessonConfig, saveLessonConfig } from '$lib/config/storage/configLocalStorage'

  let lessonConfig = loadLessonConfig()

  function submit(event: SubmitEvent) {
    if (event.target instanceof HTMLFormElement) {
      const formData = new FormData(event.target)

      const editPastLessons = formData.get('editPastLessons') as string | null

      lessonConfig.editPastLessons = editPastLessons !== null
      saveLessonConfig(lessonConfig)
    }
  }
</script>

<form on:submit|preventDefault={submit}>
  <input type='checkbox' name='editPastLessons' id='editPastLessons' checked={lessonConfig.editPastLessons}
         value={'editPastLessons'} />
  <label for='editPastLessons'>
    <Translation translationCode='editPastLessons' />
  </label>

  <div class='submit-container'>
    <Submit />
  </div>
</form>

<style>
  form {
    padding: 16px;
  }

  .submit-container {
    margin-top: 16px;
  }
</style>
