<script lang="ts">
  import EditDate from '$lib/lessons/components/lessonNavigation/presentation/EditDate.svelte'
  import { t } from 'i18next'
  import { getLessonDatesIndex } from '$lib/lessons/domain/lessons'

  export let originalDate: Date
  export let title = 'editDateModalTitle'

  const dates: Record<string, string> = getLessonDatesIndex()
</script>

<EditDate {originalDate} {title} validDates={dates} on:clickClose on:submit />
