<script lang="ts">
  import EmptyDay from '$lib/lessons/components/lessonNavigation/presentation/EmptyDay.svelte'
  import ListOfDays from '$lib/lessons/components/lessonNavigation/presentation/ListOfDays.svelte'
  import type { Language } from '$lib/common/domain/configurations'
  import {
    dateIsInNotThePast,
    formatDateStandard,
    getDayNumber,
    lessonIsStrictlyInTheFuture,
  } from '$lib/common/domain/common'
  import type {
    AddLessonEventPayload,
    BaseLessonEventPayload,
    SubmitDateEventPayload,
  } from '$lib/lessons/components/lessonNavigation/presentation'
  import type { Lesson as LessonType } from '$lib/lessons/domain/lessons'

  import { page } from '$app/stores'
  import Lesson from '$lib/lessons/components/lessonNavigation/presentation/Lesson.svelte'
  import { formatDate } from '$lib/common/domain/common.js'
  import EditTitle from '$lib/lessons/components/common/EditTitle.svelte'
  import {
    removeLesson,
    navigateToSelectedLesson,
    navigateToNextLesson,
    updateLessonTitle,
    navigateToAddedLesson,
    updateLessonDate,
    navigateToUpdatedLesson,
    getSelectedDayFromUrl,
    getClosestDayWithLesson,
    loadLessons,
    addLesson,
  } from '$lib/lessons/uiLogic/lessonCalendar'
  import EditLessonDate from '$lib/lessons/components/lessonNavigation/EditLessonDate.svelte'
  import { duplicateLesson } from '$lib/lessons/domain/lessons'
  import {
    currentLesson,
    lessonsPerWeek,
    lessonStatus,
    lessonWasAlreadyPlayed,
    shouldEnableEditing,
  } from '$lib/lessons/uiLogic/lessonStore'
  import { loadLessonConfig } from '$lib/config/storage/configLocalStorage'

  export let language: Language
  export let days: number[] = []
  export let year: string
  export let month: string
  export let week: string

  let activeLessonTitle: string = ''
  let activeLessonDate: Date = new Date()

  let lessons: Record<number, LessonType> | null = null

  let selectedDay = getSelectedDayFromUrl($page.url)

  let showTitleEditModal = false
  let showDateEditModal = false

  page.subscribe(({ url }) => {
    // This is a hack solution for making sure that navigating with the calendar
    // will load the correct lessons.
    // The issue is that year,month,week are updated only on next interaction
    if (url.searchParams.get('year')) {
      year = url.searchParams.get('year')
    }

    if (url.searchParams.get('month')) {
      month = Number(url.searchParams.get('month')) - 1 + ''
    }

    if (url.searchParams.get('week')) {
      week = url.searchParams.get('week')
    }

    lessons = loadLessons(year, (Number(month) + 1).toString(), week)

    lessonsPerWeek.set(lessons)

    selectedDay = getClosestDayWithLesson(url, lessons)

    activeLessonTitle = lessons ? lessons[selectedDay].title : ''

    if (lessons) {
      currentLesson.set(lessons[selectedDay])
    } else {
      currentLesson.set(undefined)
    }
  })

  lessonsPerWeek.subscribe(value => {
    if (value === null) {
      currentLesson.set(undefined)
    }
  })

  const onAdd = (event: CustomEvent<AddLessonEventPayload>) => {
    selectedDay = Number(event.detail.day)

    lessons = addLesson(year, month, week, event.detail.day)

    lessonsPerWeek.set(lessons)
    activeLessonTitle = lessons ? lessons[selectedDay].title : ''

    if (lessons) {
      currentLesson.set(lessons[selectedDay])
    }

    navigateToAddedLesson($page.url, event, year, (Number(month) + 1).toString(), week)
  }

  const onSelect = (event: CustomEvent<BaseLessonEventPayload>) => navigateToSelectedLesson($page.url, event)

  const onDelete = (event: CustomEvent<BaseLessonEventPayload>) => {
    if (lessons) {
      lessons = removeLesson(event, lessons)

      lessonsPerWeek.set(lessons)

      navigateToNextLesson($page.url, lessons)
    }
  }

  const isActive = (day: number) => day === Number(selectedDay)

  const editTitle = () => {
    showTitleEditModal = true
  }

  const editDate = (event: CustomEvent<BaseLessonEventPayload>) => {
    activeLessonDate = new Date(Number(year), Number(month), Number(event.detail.day))

    showDateEditModal = true
  }

  const saveTitle = (event: CustomEvent) => {
    activeLessonTitle = updateLessonTitle(event, lessons, selectedDay)

    closeModal()
  }

  const saveDate = (event: CustomEvent) => {
    if (lessons) {
      lessons = updateLessonDate(event, lessons, selectedDay, year, (Number(month) + 1).toString(), week)

      closeModal()

      navigateToUpdatedLesson($page.url, event)
    }
  }

  let showCloneLessonModal = false

  function onClone(event: CustomEvent<BaseLessonEventPayload>) {
    activeLessonDate = new Date(Number(year), Number(month), Number(event.detail.day))

    showCloneLessonModal = true
  }

  function cloneLesson(event: CustomEvent<SubmitDateEventPayload>) {
    if (lessons) {
      lessons = duplicateLesson(lessons[selectedDay], event.detail.date)

      closeModal()
    }
  }

  const closeModal = () => {
    showTitleEditModal = false
    showDateEditModal = false
    showCloneLessonModal = false
  }

  const lessonConfig = loadLessonConfig()

  function isEditingEnabled(lesson: LessonType) {
    // This is done like this, so that we don't accidentally delete today's lesson or move it somewhere.
    // Lesson item changes are still permitted though, so that we can do last minute adjustments
    return (
      (shouldEnableEditing($lessonStatus, lesson) && (!lessonWasAlreadyPlayed(lesson) || lessonConfig.editPastLessons)) ||
      lessonIsStrictlyInTheFuture(lesson)
    )
  }
</script>

<ListOfDays>
  <span slot="desktop">
    {#each days as day}
      {#if lessons === null || !lessons[day]}
        <EmptyDay
          day={getDayNumber(day)}
          date={formatDate(language.isoCode, new Date(Number(year), Number(month), day))}
          formattedDate={formatDateStandard(new Date(Number(year), Number(month), day))}
          on:click={onAdd}
          canAddLesson={lessonConfig.editPastLessons || dateIsInNotThePast(new Date(Number(year), Number(month), day))}
        />
      {:else}
        <Lesson
          title={isActive(day) ? activeLessonTitle : lessons[day].title}
          day={getDayNumber(day)}
          isActive={isActive(day)}
          enableEditing={isEditingEnabled(lessons[day])}
          date={formatDate(language.isoCode, lessons[day].date)}
          formattedDate={formatDateStandard(new Date(Number(year), Number(month), day))}
          on:select={onSelect}
          on:editTitle={editTitle}
          on:editDate={editDate}
          on:delete={onDelete}
          on:clone={onClone}
        />
      {/if}
    {/each}
  </span>
</ListOfDays>

{#if showTitleEditModal}
  <EditTitle title={activeLessonTitle} on:clickClose={closeModal} on:submit={saveTitle} />
{/if}

{#if showDateEditModal}
  <EditLessonDate on:clickClose={closeModal} on:submit={saveDate} originalDate={activeLessonDate} />
{/if}

{#if showCloneLessonModal}
  <EditLessonDate on:clickClose={closeModal} on:submit={cloneLesson} title='cloneLesson' originalDate={activeLessonDate} />
{/if}
