<script lang="ts">
  import SaveTechModal from '$lib/lessons/components/techniques/presentation/SaveTechModal.svelte'
  import type { SaveTechniqueEventPayload } from '$lib/lessons/components/techniques/presentation'
  import { addNew } from '$lib/lessons/uiLogic/techniques'
  import Translation from '$lib/common/components/Translation.svelte'

  let showAddTechModal = false

  function onAdd() {
    showAddTechModal = true
  }

  function closeModal() {
    showAddTechModal = false
  }

  function addTechnique(event: CustomEvent<SaveTechniqueEventPayload>) {
    addNew(event.detail.name, event.detail.video)

    closeModal()
  }
</script>

<button class="add-tech" on:click={onAdd} data-test='addTech'>
  <i class="fa-solid fa-plus" />
  <Translation translationCode="addTech" />
</button>

{#if showAddTechModal}
  <SaveTechModal on:submit={addTechnique} on:clickClose={closeModal} />
{/if}

<style>
  .add-tech {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 8px;
    background-color: var(--color-surface);
  }

  .add-tech:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: 1px solid var(--color-on-primary);
  }
</style>
