<script lang="ts">
  import { createEventDispatcher, setContext } from 'svelte'
  import { temporaryCircuit } from '../../../../routes/[lang]/settings/technique/_uiLogic/circuits'

  let draggableElements: {id: string, component: any, props: any }[] = []

  let originals: {id: string, component: any, props: any }[] = []

  const contextId = 'draggable'

  let visibilityOfTarget: boolean[] = []
  let dropped_in = false

  let refs: HTMLElement[] = []

  let draggedElementId: string
  let targetElementId: string

  temporaryCircuit.subscribe(circuit => {
    if (circuit) {

      draggableElements = draggableElements.filter(element => {
        if (circuit.items[element.props.groupNumber]) {
          const exercise = circuit.items[element.props.groupNumber].find(value => value.id === element.props.item.id)

          return exercise !== undefined
        }
      })
    }
  })

  function addElement(element: {id: string }, component, props) {
    const index = draggableElements.length

    draggableElements = [...draggableElements, {
      id: element.id,
      component,
      props
    }]

    originals = [...draggableElements]

    visibilityOfTarget = draggableElements.map(() => true)

    return index
  }

  function handleDragStart(e) {
    e.dataTransfer.dropEffect = 'move'
    e.dataTransfer.setData('text', e.target.getAttribute('id'))

    draggedElementId = e.target.getAttribute('id')
  }

  function handleDragEnter(e) {
    const elem = refs.find((elem) => elem?.id === e.target.getAttribute('id'))

    if (elem && draggedElementId) {
      targetElementId = e.target.getAttribute('id')

      if (draggedElementId !== targetElementId) {
        const draggedSummary = draggableElements.findIndex((value) => value.id === draggedElementId)
        const targetSummary = draggableElements.findIndex((value) => value.id === targetElementId)

        const temp = draggableElements[draggedSummary]
        draggableElements[draggedSummary] = draggableElements[targetSummary]
        draggableElements[targetSummary] = temp

        visibilityOfTarget[targetSummary] = false
        visibilityOfTarget[draggedSummary] = true
      }
    }
  }

  const dispatch = createEventDispatcher()

  function handleDragEnd() {
    if (dropped_in == false) {
      draggableElements = [...originals]
    }

    visibilityOfTarget = draggableElements.map(() => true)

    dropped_in = false

    dispatch('dragend', {
      items: draggableElements.reduce((carry, value, currentIndex) => {
        return {
          ...carry,
          [value.props.item.id]: currentIndex
        }
      }, {})
    })
  }

  function handleDragLeave() {
  }

  function handleDragDrop(e) {
    e.preventDefault()

    dropped_in = true
  }

  setContext(contextId, {
    addElement,
  })
</script>

{#each draggableElements as element, index}
  <div
    class='element'
    class:hideBorder={index === draggableElements.length - 1}
    id={element.id}
    draggable='true'
    on:dragstart={handleDragStart}
    on:dragend={handleDragEnd}
    on:dragenter={handleDragEnter}
    on:dragleave={handleDragLeave}
    on:drop={handleDragDrop}
    ondragover='return false'
    bind:this={refs[index]}
  >
    {#if visibilityOfTarget[index]}
      <svelte:component this={element.component} {...element.props} />
    {:else }
      <div style='height: 70px'></div>
    {/if}
  </div>
{/each}
<slot />

<style>
  .element {
    border-bottom: 1px solid var(--color-secondary-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-secondary-dark);
    padding: 1px;
  }

  .element.hideBorder {
    border: none;
  }

  .element:hover {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    cursor: pointer;
  }
</style>
