<script lang="ts">
  import BackLink from '$lib/common/components/presentation/BackLink.svelte'
  import type { LanguageAware } from '$lib/common/types/page'
  import { page } from '$app/stores'
  import MenuRightContainer from '$lib/common/components/presentation/MenuRightContainer.svelte'

  export let data: LanguageAware
</script>

<header>
  <BackLink href={`/${data.lang}/lessons${$page.url.search}`} label="lessons" />

  <MenuRightContainer languageCode={data.lang} />
</header>

<slot />

<style>
  header {
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    justify-content: space-between;
  }

  @media (min-width: 576px) {
    header {
      padding: 16px;
    }
  }
</style>
