<script lang='ts'>
  import Button from '$lib/common/components/presentation/Button.svelte'
  import FormModal from '$lib/common/components/presentation/FormModal.svelte'
  import Translation from '$lib/common/components/Translation.svelte'
  import { deleteAllLessonData } from '../_uiLogic/settings'

  function displayWarning() {
    showConfirmationModal = true
  }

  let showConfirmationModal = false

  function closeModal() {
    showConfirmationModal = false
  }

  function deleteLessons() {
    showConfirmationModal = true
    deleteAllLessonData()
  }
</script>

<div class='button-wrapper'>
  <Button label='delete' on:click={displayWarning}/>
</div>

{#if showConfirmationModal}
  <FormModal on:clickClose={closeModal} on:submit={deleteLessons}>
    <span>
      <Translation translationCode='deleteWarning' />
    </span>
  </FormModal>
{/if}

<style>
  .button-wrapper {
    padding: 16px;
  }

  span {
    padding: 16px;
  }
</style>
