<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'
  import type { LanguageAware } from '$lib/common/types/page'
  import { goto } from '$app/navigation'
  import { page } from '$app/stores'

  export let data: LanguageAware

  function submit(event: SubmitEvent) {
    const formData = new FormData(event.target)

    let reader = new FileReader()

    reader.readAsText(formData.get('file'))

    reader.onload = (event) => {
      const file = event.target?.result
      if (!file) {
        throw new Error('File is missing from target')
      }

      Object.keys(localStorage).forEach((value) => {
        localStorage.removeItem(value)
      })

      Object.entries(JSON.parse(file)).forEach((value) => {
        localStorage.setItem(value[0], JSON.stringify(value[1]))
      })

      goto(`/${data.lang}/lessons${$page.url.search}`)
    }
  }
</script>

<div class="form-container">
  <div class="warning">
    <i class="fa-solid fa-triangle-exclamation" />
    <Translation translationCode="uploadWarning" />
  </div>
  <form class="upload" on:submit|preventDefault={submit}>
    <input class="file" name="file" type="file" accept=".json" />

    <button type="submit"><i class="fa-solid fa-upload" /><Translation translationCode="upload" /> </button>
  </form>
</div>

<style>
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .warning {
    font-size: 24px;
  }

  .warning i {
    color: var(--color-warning);
  }

  .upload {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }

  button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 16px;
    font-size: 20px;
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  button:hover {
    background-color: var(--color-surface);
    color: var(--color-primary);

    cursor: pointer;
  }
</style>
