<script lang="ts">
  import LessonCalendar from '$lib/lessons/components/lessonNavigation/LessonCalendar.svelte'
  import type { CalendarFiltersProps } from './_components/calendarV1/presentation/types'
  import { getDays, getFilterProps, updateDays, updateFilterProps } from './_uiLogic/calendarV1/filters'
  import { page } from '$app/stores'
  import type { LanguageAware } from '$lib/common/types/page'
  import Chapters from '$lib/lessons/components/chapters/Chapters.svelte'
  import Player from '$lib/lessons/components/player/Player.svelte'
  import Control from '$lib/common/components/presentation/Control.svelte'
  import {
    currentLesson,
    lessonStatus,
    lessonWasAlreadyPlayed,
    playerEvents,
    shouldEnableEditing,
  } from '$lib/lessons/uiLogic/lessonStore'
  import { deleteExistingHistory } from '$lib/lessons/domain/history'
  import FormModal from '$lib/common/components/presentation/FormModal.svelte'
  import RefreshWarning from '$lib/lessons/components/player/presentation/RefreshWarning.svelte'
  import BreakdownSection from '$lib/lessons/components/main/BreakdownSection.svelte'
  import MenuRightContainer from '$lib/common/components/presentation/MenuRightContainer.svelte'
  import { appendToSearchParams, lessonIsNotInThePast } from '$lib/common/domain/common'
  import LessonCountdown from '$lib/lessons/components/main/LessonCountdown.svelte'
  import VerticalTabsContainer from '$lib/common/components/verticalTabs/VerticalTabsContainer.svelte'
  import LessonContent from '$lib/common/components/LessonContent.svelte'
  import { shouldBeHistoryV2 } from '$lib/common/domain/configurations'
  import { goto } from '$app/navigation'
  import { lessonIsNotEmpty } from '$lib/lessons/domain/lesson'
  import { deleteHistory } from '$lib/lessons/storage/historyLocalStorage'
  import BreakdownSectionV2 from './_components/BreakdownSectionV2.svelte'
  import CalendarFilters from './_components/calendarV1/presentation/CalendarFilters.svelte'
  import MenuItem from '$lib/common/components/presentation/MenuItem.svelte'
  import type { FilterDetails } from './_components/calendarV1/presentation/types'

  export let data: LanguageAware

  let filterProps: CalendarFiltersProps = getFilterProps(data.language)

  let days = getDays().map((value) => value.date)

  $: {
    filterProps = updateFilterProps($page, data.language)

    days = updateDays($page, data.language).map((value) => value.date)
  }

  $: inProgress = $lessonStatus.inProgress
  $: editMode = !inProgress

  $: lesson = $currentLesson

  $: shouldDisplayPlayButton = shouldEnableEditing($lessonStatus, $currentLesson) && lesson && lessonIsNotEmpty(lesson)

  let showLessonRefresh = false

  currentLesson.subscribe((lesson) => {
    if (lesson) {
      showLessonRefresh = lessonWasAlreadyPlayed(lesson) && lessonIsNotInThePast(lesson)
    }
  })

  let showRefreshConfirmationModal = false

  function onRefreshClick() {
    showRefreshConfirmationModal = true
  }

  function start() {
    if (shouldBeHistoryV2(lesson)) {
      goto(`/${data.lang}/play/${lesson.id}/${$page.url.search}`)
    } else {
      if (lesson && lesson.chapters[0] && lesson.chapters[0].lessonItems[0]) {
        playerEvents.set({
          operation: 'start',
          payload: {
            lesson,
            chapterId: lesson.chapters[0].id,
            lessonItem: lesson.chapters[0].lessonItems[0],
            lessonItemId: lesson.chapters[0].lessonItems[0].id,
          },
        })
      }
    }
  }

  function refresh() {
    if (lesson) {
      if (shouldBeHistoryV2(lesson)) {
        deleteHistory(lesson.id)
      } else {
        deleteExistingHistory(lesson)

      }
      showLessonRefresh = false

      start()
    }
  }

  const closeModal = () => {
    showRefreshConfirmationModal = false
  }

  function onFilterUpdate(event: CustomEvent<FilterDetails>) {
    const value = event.detail.name === 'month' ? (Number(event.detail.value) + 1).toString() : event.detail.value

    goto(
      appendToSearchParams($page.url, [
        {
          name: event.detail.name,
          value,
        },
      ])
    )
  }

  // TODO make LessonCalendar as slim as possible and lift behaviour here as much as possible
  // TODO the props should be the language, days and lessons only
  // TODO migrate current functionality to load from number of week everywhere + migrate data
  // TODO or migrate lesson loading to save individually and index per whatever LessonCalendar we have
</script>

<header>
  {#if inProgress}
    <Player />
  {:else}
    <div class="navigation-container">
      <CalendarFilters props={filterProps} on:update={onFilterUpdate} />
      <MenuItem href={`/${data.lang}/settings/technique${$page.url.search}`} label="wazaCatalog" />
    </div>

    {#if shouldDisplayPlayButton && !showLessonRefresh && lesson}
      <div class="player-controls">
        <Control type="fa-play" invertColors={true} on:click={start} />
      </div>
    {/if}

    {#if showLessonRefresh && lesson}
      <div class="player-controls">
        <Control type="fa-rotate-right" invertColors={true} on:click={onRefreshClick} />
      </div>
    {/if}

    <MenuRightContainer languageCode={data.lang} />
  {/if}
</header>

<VerticalTabsContainer>
  <svelte:fragment slot="navigation">
    {#if editMode}
      <LessonCalendar
        language={data.language}
        {days}
        year={filterProps.year.defaultValue.value}
        month={filterProps.month.defaultValue.value}
        week={filterProps.week.defaultValue.value}
      />
    {/if}
  </svelte:fragment>

  <svelte:fragment slot="content">
    <LessonContent>
      <svelte:fragment slot="chapters">
        <Chapters />
      </svelte:fragment>

      <svelte:fragment slot="main">
        {#if inProgress}
          <LessonCountdown />
        {:else if lesson && shouldBeHistoryV2(lesson)}
          <BreakdownSectionV2 />
        {:else}
          <BreakdownSection />
        {/if}
      </svelte:fragment>
    </LessonContent>
  </svelte:fragment>
</VerticalTabsContainer>

{#if showRefreshConfirmationModal}
  <FormModal on:clickClose={closeModal} on:submit={refresh}>
    <RefreshWarning />
  </FormModal>
{/if}

<style>
  .navigation-container {
    display: flex;
    align-items: center;
  }

  .player-controls {
    font-size: 32px;
  }

  header {
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    justify-content: space-between;
  }

  @media (min-width: 576px) {
    header {
      padding: 16px;
    }
  }
</style>
