<script lang='ts'>
  import type { Circuit, CircuitItem } from '../../../../routes/[lang]/settings/technique/_domain/circuits'
  import { getTechniqueNames, loadTechniquesByIds } from '$lib/lessons/uiLogic/techniques'
  import Duration from '$lib/common/components/Duration.svelte'
  import TooltipIconWithAction from '$lib/common/components/presentation/TooltipIconWithAction.svelte'
  import { createEventDispatcher } from 'svelte'
  import type { PlayableLessonElementClickEvent } from '$lib/lessons/components/common/index'
  import { getHistoryIndicatorForCircuitItems, lessonHistory } from '../../../../routes/[lang]/lessons/_uiLogic/history'
  import HistoryIndicator from '../../components/common/HistoryIndicator.svelte'

  export let circuit: Circuit
  export let lessonItemId: string
  export let selectable = false
  export let showHistoryIndicators = false

  $: techniquesNames = getTechniqueNames(
    loadTechniquesByIds(circuit.items.flatMap(value => value.map(value => value.techniqueId)))
  )

  let circuitDetailsAreHidden = true

  function toggleCircuitDetails() {
    circuitDetailsAreHidden = !circuitDetailsAreHidden
  }

  $: icon = circuitDetailsAreHidden ? 'fa-chevron-down' : 'fa-chevron-up'
  $: tooltip = circuitDetailsAreHidden ? 'vezi detalii' : 'ascunde detalii'

  const dispatch = createEventDispatcher<PlayableLessonElementClickEvent>()

  function click(circuitItem: CircuitItem) {
    dispatch('click', {
      id: `${lessonItemId}+${circuitItem.id}`
    })
  }

  $: statuses = showHistoryIndicators
    ? getHistoryIndicatorForCircuitItems(circuit, $lessonHistory, lessonItemId)
    : {}
</script>

<div class='circuit-details-toggle'>
   <TooltipIconWithAction translationCode={tooltip} faIcon={`fa-solid ${icon}`} on:click={toggleCircuitDetails} />
</div>

{#if !circuitDetailsAreHidden}
  <div class='circuit-details'>
    {#each circuit.items as series, index}
      <div class='series'>
        <span class='series-title'>Seria {index + 1}</span>

        {#each series as circuitItem, index}
          <div class='series-details' data-test={`circuitItem:${circuitItem.id}`} class:hide-border={index === series.length - 1} class:selectable on:click={() => click(circuitItem)}>
            {#if techniquesNames[circuitItem.techniqueId]}
              <span>
                {#if showHistoryIndicators && typeof statuses[circuitItem.id] === 'number' }
                  <HistoryIndicator lessonItemStatus={statuses[circuitItem.id]} />
                {/if}

                {techniquesNames[circuitItem.techniqueId]}
              </span>
            {/if}
            <Duration duration={circuitItem.duration.minute * 60 + circuitItem.duration.second}/>
          </div>
        {/each}
      </div>
    {/each}
  </div>
{/if}

<style>
  .circuit-details-toggle {
    display: flex;
    justify-content: center;
    padding-top: 8px;
  }

  .circuit-details-toggle:hover {
    background-color: var(--color-surface);
    color: var(--color-primary);
    cursor: pointer;
  }

  .circuit-details {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    padding: 0 8px;
  }

  .series {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .series-title {
    display: flex;
    border-bottom: 2px solid var(--color-primary);
    padding: 8px 0;
    font-weight: bold;
    color: var(--color-primary);
  }

  .series-details {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid var(--color-secondary-light);
  }

  .selectable:hover {
    cursor: pointer;
    color: var(--color-primary);
  }

  .hide-border {
    border: none;
  }

</style>
