<script lang="ts">
  import NotCompleteIcon from '$lib/lessons/components/lessonItems/presentation/NotCompleteIcon.svelte'
  import CompleteIcon from '$lib/lessons/components/lessonItems/presentation/CompleteIcon.svelte'
  import SkippedIcon from '$lib/lessons/components/lessonItems/presentation/SkippedIcon.svelte'
  import { StatusValues } from '$lib/lessons/domain/player'

  export let lessonItemStatus
</script>

<span class="icons">
  {#if lessonItemStatus === StatusValues.STARTED}
    <NotCompleteIcon />
  {:else if lessonItemStatus === StatusValues.FINISHED}
    <CompleteIcon />
  {:else }
    <SkippedIcon />
  {/if}
</span>
