<script lang="ts">
  import YoutubeModal from '$lib/common/components/YoutubeModal.svelte'
  import ImageModal from '$lib/common/components/ImageModal.svelte'
  import { transformWatchLinkToEmbedLink } from '$lib/common/domain/common.js'
  import TooltipIcon from '$lib/common/components/presentation/TooltipIcon.svelte'
  import type { Technique } from '$lib/lessons/domain/techniques'

  export let showVideoIcon = false
  export let showImageIcon = false
  export let technique: Technique

  $: mediaLink = technique?.video

  let showVideoFlag = false
  function showVideo() {
    showVideoFlag = true
  }

  let showImageFlag = false
  function showImage() {
    showImageFlag = true
  }

  function closeModal() {
    showVideoFlag = false
    showImageFlag = false
  }
</script>

{#if showVideoIcon && mediaLink}
  <TooltipIcon translationCode="hasVideo" faIcon="fa-solid fa-video" on:click={showVideo} dataTest={`video`}/>
{/if}

{#if showImageIcon && mediaLink}
  <TooltipIcon translationCode="hasImage" faIcon="fa-solid fa-image" on:click={showImage} dataTest={`image`}/>
{/if}

{#if showVideoFlag}
  <YoutubeModal on:clickClose={closeModal} videoLink={transformWatchLinkToEmbedLink(mediaLink)} />
{/if}

{#if showImageFlag}
  <ImageModal on:clickClose={closeModal} imageLink={mediaLink} />
{/if}
