<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import { debounce, search, techniqueStore } from '$lib/lessons/uiLogic/techniques'
  import type { SearchTechniqueEvent } from '$lib/lessons/uiLogic/techniques'
  import Input from '$lib/common/components/form/Input.svelte'

  export let autofocus = false
  export let displayLabel = true
  export let placeholder = ''

  const dispatch = createEventDispatcher<SearchTechniqueEvent>()

  function onSearch(event) {
    const searchText: string = event.detail.value.toLowerCase()

    dispatch('search', {
      techniques: search(searchText, $techniqueStore),
    })
  }
</script>

<Input
  props={{
    type: 'text',
    required: true,
    name: 'search',
    autofocus: false,
    minlength: '3',
    placeholder,
  }}
  id="search"
  on:valueChange={debounce(onSearch, 400)}
  translationLabel="Search"
  {displayLabel}
/>
