<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import { debounce, search } from '$lib/lessons/uiLogic/techniques'
  import type { SearchCircuitEvent } from '$lib/lessons/uiLogic/techniques'
  import Input from '$lib/common/components/form/Input.svelte'
  import { circuitStore } from '../../../../routes/[lang]/settings/technique/_uiLogic/circuits'

  export let autofocus = false
  export let displayLabel = true
  export let placeholder = ''

  const dispatch = createEventDispatcher<SearchCircuitEvent>()

  function onSearch(event) {
    const searchText: string = event.detail.value.toLowerCase()

    dispatch('search', {
      circuits: search(searchText, $circuitStore),
    })
  }
</script>

<Input
  props={{
    type: 'text',
    required: true,
    name: 'search',
    autofocus: autofocus,
    minlength: '3',
    placeholder,
  }}
  id="search"
  on:valueChange={debounce(onSearch, 400)}
  translationLabel="Search"
  {displayLabel}
/>
