<script lang="ts">
  import TemporaryItems from '$lib/lessons/components/lessonItems/presentation/TemporaryItems.svelte'
  import type {
    TemporaryItemsEvent,
    TemporaryLesson,
    RemoveTemporaryItemEventPayload,
  } from '$lib/lessons/components/lessonNavigation/presentation'
  import { createEventDispatcher } from 'svelte'
  import Submit from '$lib/common/components/form/Submit.svelte'
  import { enableGlobalScroll } from '$lib/common/uiLogic/commonUi'

  export let temporaryItems: TemporaryLesson[] = []

  const dispatch = createEventDispatcher<TemporaryItemsEvent>()

  $: displaySave = temporaryItems.length > 0

  function onRemove(event: CustomEvent<RemoveTemporaryItemEventPayload>) {
    const items = [...temporaryItems]
    items.splice(event.detail.index, 1)
    temporaryItems = [...items]

    dispatch('remove', {
      items: temporaryItems,
    })
  }

  function onSave() {
    dispatch('submit', {
      items: temporaryItems,
    })
    enableGlobalScroll()
  }
</script>

{#if displaySave}
  <div class="container">
    <div class="temporary-items">
      <TemporaryItems {temporaryItems} on:remove={onRemove} />

      <div>
        <Submit on:click={onSave} />
      </div>
    </div>
  </div>
{/if}

<style>
  .temporary-items {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-primary);
    padding: 12px 8px;
    color: var(--color-primary);
    gap: 16px;
  }
</style>
