<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'
  import AddChapterModal from '$lib/lessons/components/chapters/presentation/AddChapterModal.svelte'
  import type { AddChapterEventPayload } from '$lib/lessons/components/lessonNavigation/presentation'
  import { addNewChapter } from '$lib/lessons/domain/lessons'
  import type { Lesson } from '$lib/lessons/domain/lessons'
  import { currentLesson } from '$lib/lessons/uiLogic/lessonStore'

  export let lesson: Lesson

  let showAddChapterModal = false

  function onChapterAdd() {
    showAddChapterModal = true
  }

  function addChapter(event: CustomEvent<AddChapterEventPayload>) {
    if (lesson) {
      lesson = addNewChapter(event.detail.title, lesson)

      currentLesson.set(lesson)
    }
  }

  const closeModal = () => {
    showAddChapterModal = false
  }
</script>

<div class="add-chapter" on:click={onChapterAdd}>
  <i class="fa-solid fa-plus" />
  <Translation translationCode={'addChapterLabel'} />
</div>

{#if showAddChapterModal}
  <AddChapterModal on:clickClose={closeModal} on:submit={addChapter} />
{/if}

<style>
  .add-chapter {
    color: var(--color-primary);
    padding: 16px 0;
  }

  .add-chapter:hover {
    cursor: pointer;
    color: var(--color-primary-light);
  }
</style>
