<script lang="ts">
  import type { TemporaryItemsEventPayload } from '$lib/lessons/components/lessonNavigation/presentation'
  import type { Lesson } from '$lib/lessons/domain/lessons'
  import { addNewLessonItems } from '$lib/lessons/domain/lessons'
  import { currentLesson } from '$lib/lessons/uiLogic/lessonStore'
  import Modal from '$lib/common/components/presentation/Modal.svelte'
  import AddLessonItems from '$lib/lessons/components/chapters/presentation/AddLessonItems.svelte'

  export let lesson: Lesson
  export let chapterId: string

  let showAddLessonItemsModal = false

  function onClick() {
    showAddLessonItemsModal = true
  }

  function onSubmitLessonItems(event: CustomEvent<TemporaryItemsEventPayload>) {
    lesson = addNewLessonItems(event.detail.items, chapterId, lesson)

    currentLesson.set(lesson)

    closeModal()
  }

  const closeModal = () => {
    showAddLessonItemsModal = false
  }
</script>

<div class="add-element" on:click={onClick} data-test='addLessonItems'>
  <i class="fa-solid fa-plus" />
</div>

{#if showAddLessonItemsModal}
  <Modal title="saveLessonItem" on:clickClose={closeModal}>
    <AddLessonItems on:submit={onSubmitLessonItems} />
  </Modal>
{/if}

<style>
  .add-element {
    color: var(--color-secondary);
    padding: 8px 0;
    margin-bottom: 8px;
    text-align: center;
  }

  .add-element:hover {
    cursor: pointer;
    border-radius: 0 0 4px 4px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
</style>
