<script lang="ts">
  import EditableChapter from '$lib/lessons/components/chapters/presentation/EditableChapter.svelte'
  import type { Duration as DurationType, LessonItem } from '../../domain/lessons'
  import type {
    ChapterEventPayload,
    DeleteEventPayload,
    EditLessonDurationEventPayload,
    EditTitleEventPayload,
    ElementEventPayload,
  } from '$lib/lessons/components/lessonNavigation/presentation'
  import { currentLesson, lessonStatus, shouldEnableEditing } from '$lib/lessons/uiLogic/lessonStore'
  import { t } from 'i18next'
  import {
    deleteChapter,
    editChapterTitle,
    updateLessonItemDuration,
    moveChapterDown,
    moveChapterUp,
    removeLessonItem,
    updateChapterWithSortedLessonItems,
    cloneLessonItem,
  } from '../../domain/lessons'
  import EditTitle from '$lib/lessons/components/common/EditTitle.svelte'
  import DeleteConfirmation from '$lib/lessons/components/chapters/presentation/DeleteConfirmation.svelte'
  import EditLessonDurationModal from '$lib/lessons/components/lessonItems/presentation/EditLessonDurationModal.svelte'
  import { formatDuration } from '$lib/common/domain/common'
  import { getDuration } from '$lib/lessons/uiLogic/chapters'
  import { techniqueStore } from '$lib/lessons/uiLogic/techniques'
  import AddLessonItemsButton from '$lib/lessons/components/chapters/AddLessonItemsButton.svelte'
  import { calculateChapterDuration } from '$lib/lessons/domain/lesson'
  import ChapterDuration from '$lib/lessons/components/chapters/presentation/ChapterDuration.svelte'
  import AddChapterButton from '$lib/lessons/components/chapters/AddChapterButton.svelte'
  import ImmutableChapter from '$lib/lessons/components/chapters/presentation/ImmutableChapter.svelte'
  import type { Technique } from '$lib/lessons/domain/techniques'
  import { onMount } from 'svelte'
  import { page } from '$app/stores';

  let currentChapterId = ''
  let currentLessonItemId = ''
  let techniques: Technique[] = $techniqueStore

  let chaptersAreNotStatic = false

  // We are doing this so that we can write cypress test using .intercept()
  onMount(() => {
    fetch(`${$page.url.origin}/config.json`)
      .then(res => res.json())
      .then(res => {
        chaptersAreNotStatic = res.chaptersAreNotStatic
      })
  })

  let showTitleEditModal = false

  const currentChapterTitle = () =>
    $currentLesson ? $currentLesson.chapters.find((value) => value.id === currentChapterId)?.title : ''

  function onChapterTitleEdit(event: CustomEvent<ChapterEventPayload>) {
    currentChapterId = event.detail.chapterId
    showTitleEditModal = true
  }

  function editTitle(event: CustomEvent<EditTitleEventPayload>) {
    if ($currentLesson) {
      currentLesson.set(editChapterTitle(event.detail.title, currentChapterId, $currentLesson))
    }
  }

  let showDeleteChapterConfirmationModal = false

  function onChapterDelete(event: CustomEvent<ChapterEventPayload>) {
    currentChapterId = event.detail.chapterId
    showDeleteChapterConfirmationModal = true
  }

  function onDeleteChoice(event: CustomEvent<DeleteEventPayload>) {
    if (event.detail.answer && $currentLesson) {
      currentLesson.set(deleteChapter(currentChapterId, $currentLesson))
    }

    closeModal()
  }

  function onMoveChapterUp(event: CustomEvent<ChapterEventPayload>) {
    const chapterId: string = event.detail.chapterId

    if ($currentLesson) {
      currentLesson.set(moveChapterUp(chapterId, $currentLesson))
    }
  }

  function onMoveChapterDown(event: CustomEvent<ChapterEventPayload>) {
    const chapterId = event.detail.chapterId

    if ($currentLesson) {
      currentLesson.set(moveChapterDown(chapterId, $currentLesson))
    }
  }

  let showItemEditModal = false

  function onLessonElementEdit(event: CustomEvent<ElementEventPayload>) {
    showItemEditModal = true

    currentChapterId = event.detail.chapterId
    currentLessonItemId = event.detail.elementId
  }

  function currentLessonItemDuration(): DurationType {
    return getDuration(currentLessonItemId, currentChapterId, $currentLesson)
  }

  function onLessonDurationEdit(event: CustomEvent<EditLessonDurationEventPayload>) {
    const duration: DurationType = {
      minute: event.detail.minute,
      second: event.detail.second,
      formatted: formatDuration(event.detail.minute, event.detail.second),
    }

    if ($currentLesson) {
      currentLesson.set(updateLessonItemDuration(duration, currentLessonItemId, currentChapterId, $currentLesson))
    }

    closeModal()
  }

  function onLessonElementRemove(event: CustomEvent<ElementEventPayload>) {
    if ($currentLesson) {
      currentLesson.set(removeLessonItem(event.detail.elementId, event.detail.chapterId, $currentLesson))
    }
  }

  function onLessonElementClone(event: CustomEvent<ElementEventPayload>) {
    if ($currentLesson) {
      currentLesson.set(cloneLessonItem(event.detail.elementId, event.detail.chapterId, $currentLesson))
    }
  }

  const closeModal = () => {
    showTitleEditModal = false
    showDeleteChapterConfirmationModal = false
    showItemEditModal = false
  }

  function onSort(event: CustomEvent) {
    if ($currentLesson) {
      currentLesson.set(
        updateChapterWithSortedLessonItems(event.detail.lessonItems, event.detail.chapterId, $currentLesson)
      )
    }
  }

  $: enabledEditing = shouldEnableEditing($lessonStatus, $currentLesson)
  // TODO introduce EditableChapter and separate player logic and edit logic
</script>

{#if $currentLesson}
  {#each $currentLesson.chapters as chapter, index}
    {#if enabledEditing}
      <EditableChapter
        {chaptersAreNotStatic}
        chapterTitle={chapter.title}
        chapterId={chapter.id}
        isFirst={index === 0}
        isLast={index === $currentLesson.chapters.length - 1}
        lessonItems={chapter.lessonItems}
        enableEditing={enabledEditing}
        on:chapterTitleEdit={onChapterTitleEdit}
        on:chapterDelete={onChapterDelete}
        on:moveChapterUp={onMoveChapterUp}
        on:moveChapterDown={onMoveChapterDown}
        on:lessonElementEdit={onLessonElementEdit}
        on:lessonElementRemove={onLessonElementRemove}
        on:lessonElementClone={onLessonElementClone}
        on:sort={onSort}
      />
    {:else if chapter.lessonItems.length > 0}
      <ImmutableChapter chapterTitle={chapter.title} chapterId={chapter.id} lessonItems={chapter.lessonItems} />
    {/if}

    {#if chapter.lessonItems.length > 0}
      <ChapterDuration duration={calculateChapterDuration(chapter.lessonItems)} />
    {/if}

    {#if enabledEditing}
      <AddLessonItemsButton chapterId={chapter.id} lesson={$currentLesson} />
    {/if}
  {/each}

  {#if enabledEditing && chaptersAreNotStatic}
    <AddChapterButton lesson={$currentLesson} />
  {/if}
{/if}

{#if showTitleEditModal}
  <EditTitle title={currentChapterTitle()} on:clickClose={closeModal} on:submit={editTitle} />
{/if}

{#if showDeleteChapterConfirmationModal}
  <DeleteConfirmation
    title={currentChapterTitle()}
    modalTextContent={t('deleteWarning')}
    confirmLabel={t('confirmDelete')}
    cancelLabel={t('cancelDelete')}
    on:clickClose={closeModal}
    on:choice={onDeleteChoice}
  />
{/if}

{#if showItemEditModal}
  <EditLessonDurationModal
    minute={currentLessonItemDuration().minute}
    second={currentLessonItemDuration().second}
    on:submit={onLessonDurationEdit}
    on:clickClose={closeModal}
  />
{/if}
