<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'

  export let href: string
  export let label: string
</script>

<a class="lessons" {href}
  ><i class="fa-solid fa-arrow-left" />
  <Translation translationCode={label} />
</a>

<style>
  a {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--color-on-primary);
    color: var(--color-on-primary);
    height: 24px;
  }

  a:hover {
    border: 1px solid var(--color-on-primary);
    color: var(--color-primary);
    background-color: var(--color-surface);
  }
</style>
