<script>
  import Translation from '$lib/common/components/Translation.svelte'

  export let label = ''

  export let faIcon = ''

  export let noBorders = false

  export let secondary = false

  export let dataTest = label
</script>

<button
  on:click
  class:primary={!secondary}
  class:secondary={secondary}
  class:no-borders={noBorders}
  data-test={dataTest}
>
  <Translation translationCode={label} />
  {#if faIcon}
    <i class={faIcon} />
  {/if}
</button>

<style>
  button {
    width: 100%;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid var(--color-primary);
  }

  button.primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }

  button.primary:hover {
    cursor: pointer;
    background-color: var(--color-surface);
    color: var(--color-primary);
  }

  button.secondary {
    background-color: var(--color-surface);
    color: var(--color-primary);
  }

  button.secondary:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }

  button.no-borders {
    border: none;
  }
</style>
