<script lang="ts">
  export let type: string
  export let invertColors = false
  export let noBorders = false
</script>

<button
  class="control-container"
  class:color-normal={!invertColors}
  class:color-reverse={invertColors}
  class:no-borders={noBorders}
  on:click
>
  <i class={`btn-glyphicon fa-solid ${type}`} />
</button>

<style>
  .color-normal {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background-color: var(--color-surface);
  }

  .color-normal:hover {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }

  .color-reverse {
    color: var(--color-on-primary);
    border: 1px solid var(--color-on-primary);
    background-color: var(--color-primary);
  }

  .color-reverse:hover {
    background-color: var(--color-surface);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  .control-container {
    position: relative;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px;
    width: 1.5em;
    height: 1.5em;
  }

  .btn-glyphicon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .control-container:hover {
    cursor: pointer;
  }

  .no-borders {
    border: none;
  }
</style>
