<script lang="ts">
  export let name: string
  export let enabled = true
  export let dataTest = 'action'

  let isHovered = false

  $: showPointer = isHovered && enabled
  $: switchType = isHovered && enabled
</script>

<i
  class:fa-regular={!switchType}
  class:fa-solid={switchType}
  class:pointer={showPointer}
  class:disabled={!enabled}
  data-test={dataTest}
  class={name}
  on:mouseover={() => {
    isHovered = true
  }}
  on:mouseout={() => {
    isHovered = false
  }}
  on:click
/>

<style>
  .pointer {
    cursor: pointer;
  }

  .disabled {
    opacity: 0.3;
  }
</style>
