<script lang="ts">
  import { createEventDispatcher, onMount } from 'svelte'
  import { disableGlobalScroll, enableGlobalScroll } from '$lib/common/uiLogic/commonUi'
  import Submit from '$lib/common/components/form/Submit.svelte'
  import Cancel from '$lib/common/components/form/Cancel.svelte'
  import Modal from '$lib/common/components/presentation/Modal.svelte'

  export let title = 'Modal title'
  export let hasErrors = false
  export let dataTest = 'formModal'

  let form: HTMLFormElement

  const dispatch = createEventDispatcher()

  function submit() {
    dispatch('submit', {
      formData: new FormData(form),
    })

    closeModal()
  }

  function closeModal() {
    dispatch('clickClose', true)
    enableGlobalScroll()
  }

  onMount(() => {
    disableGlobalScroll()
  })
</script>

<Modal {title} {dataTest} on:clickClose>
  <form class="form-container" on:submit|preventDefault={submit} bind:this={form}>
    <slot />
    <div class="submit-container">
      <Submit {hasErrors} />
      <Cancel on:click={closeModal} />
    </div>
  </form>
</Modal>

<style>
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submit-container {
    display: flex;
    column-gap: 8px;
    justify-content: center;
  }
</style>
