<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'

  export let href: string
  export let label: string
</script>

<a class="menu-item" {href}>
  <Translation translationCode={label} />
</a>

<style>
  .menu-item {
    color: var(--color-on-primary);
    border: 1px solid var(--color-on-primary);
    border-radius: 4px;
    padding: 16px;
    height: 24px;
    display: flex;
    align-items: center;
  }

  .menu-item:hover {
    border: 1px solid var(--color-on-primary);
    color: var(--color-primary);
    background-color: var(--color-surface);
  }
</style>
