<script lang="ts">
  import LanguageSwitcher from '$lib/common/components/LanguageSwitcher.svelte'
  import Control from '$lib/common/components/presentation/Control.svelte'
  import Translation from '$lib/common/components/Translation.svelte'
  import { page } from '$app/stores'
  import { clickOutside } from '$lib/common/uiLogic/commonUi'

  export let languageCode: string

  let showSettings = false

  function displaySettings() {
    showSettings = !showSettings
  }

  function handleClickOutside() {
    showSettings = false
  }
</script>

<span class="menu-right-container">
  <LanguageSwitcher {languageCode} />
  <span class="control-container" on:click={displaySettings} data-test='settings'>
    <Control type="fa-ellipsis-vertical" invertColors={true} noBorders={true} />

    {#if showSettings}
      <span class="settings" use:clickOutside on:click_outside={handleClickOutside}>
        <a class="element" href={`/${languageCode}/settings/backup${$page.url.search}`} data-test='backup'>
          <Translation translationCode="backup" />
        </a>
        <a class="element" href={`/${languageCode}/settings/config${$page.url.search}`} data-test='config'>
          <Translation translationCode="config" />
        </a>
      </span>
    {/if}
  </span>
</span>

<style>
  .menu-right-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
  }

  .control-container {
    font-size: 32px;
    position: relative;
  }

  .settings {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 52px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: 1px solid var(--color-on-primary);
    border-radius: 4px;
  }

  .settings a:hover {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    background-color: var(--color-surface);
    color: var(--color-primary);
  }

  .element {
    display: block;
    padding: 16px;
    color: var(--color-on-primary);
  }

  .element:hover {
    color: var(--color-primary);
  }
</style>
