<script lang="ts">
  import { createEventDispatcher, onMount } from 'svelte'
  import Translation from '$lib/common/components/Translation.svelte'
  import { disableGlobalScroll, enableGlobalScroll, clickOutside } from '$lib/common/uiLogic/commonUi'

  export let title = 'Modal title'
  export let dataTest = 'modal'

  const dispatch = createEventDispatcher()

  function closeModal() {
    dispatch('clickClose', true)
    enableGlobalScroll()
  }

  function onEscape(event: KeyboardEvent) {
    if (event.key === 'Escape') {
      closeModal()
    }
  }

  onMount(() => {
    disableGlobalScroll()
  })
</script>

<div class="overlay" use:clickOutside on:click_outside={closeModal} on:keydown={onEscape}>
  <div class="modal" data-test={dataTest}>
    <div class="header">
      <div class="title">
        <Translation translationCode={title} />
      </div>
      <button class="close" on:click={closeModal}>
        <i class="fa-solid fa-xmark" />
      </button>
    </div>
    <div class="content">
      <slot />
    </div>
  </div>
</div>

<style>
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-bottom: 1px solid var(--color-primary);
  }

  .title {
    font-weight: bold;
    padding-left: 8px;
  }

  .close {
    height: 32px;
    width: 32px;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-on-primary);
    background-color: var(--color-primary);
    border: none;
  }

  .close:hover {
    cursor: pointer;
    background-color: var(--color-surface);
    color: var(--color-primary);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-surface);
    border-radius: 4px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    min-width: 30%;
    max-height: 75%;
    overflow: auto;
    width: 100%;
  }

  .content {
    padding-bottom: 8px;
  }

  @media (min-width: 576px) {
    .modal {
      width: 80%;
    }
  }

  @media (min-width: 900px) {
    .modal {
      width: 60%;
    }
  }

  @media (min-width: 1280px) {
    .modal {
      width: 40%;
    }
  }
</style>
