<script lang="ts">
  import { createEventDispatcher, onMount } from 'svelte'
  import type { Option, SelectUpdateEvent } from '$lib/common/types/types'

  let selectElement

  export let variant = 'primary'
  export let options: Option[] = []

  export let defaultOption: Option = options[0]

  $: currentSelection = defaultOption.label

  const dispatch = createEventDispatcher<SelectUpdateEvent>()

  onMount(() => {
    selectElement.addEventListener('selected', (event: CustomEvent) => {
      const selectedOption = options.filter((value) => value.value === event.detail.value)
      currentSelection = selectedOption[0].label

      dispatch('update', selectedOption[0])
    })
  })
</script>

<custom-select bind:this={selectElement} default={defaultOption.value} {variant}>
  {#each options as option}
    <option value={option.value}>{option.label}</option>
  {/each}
</custom-select>
