<script lang="ts">
  import Translation from '$lib/common/components/Translation.svelte'

  export let faIcon = 'fa-regular fa-circle-check'

  export let translationCode = ''

  export let type = ''

  export let tooltipPosition = 'upperRight'

  export let dataTest = 'tooltipIcon'
</script>

<span class="icon-wrapper" on:click data-test={dataTest}>
  <i
    class={`${faIcon}`}
    class:warning={type === 'warning'}
    class:error={type === 'error'}
    class:regular={type === 'regular'}
    class:ok={type === 'ok'}
  />

  <span class="tooltip" class:upperLeft={tooltipPosition === 'upperLeft'} data-test={'tooltip'}>
    <Translation {translationCode} />
  </span>
</span>

<style>
  .icon-wrapper {
    position: relative;
  }

  .warning {
    color: var(--color-warning);
  }

  .error {
    color: var(--color-error);
  }

  .regular {
    color: var(--color-secondary-dark);
  }

  .ok {
    color: var(--color-primary);
  }

  .tooltip {
    justify-content: center;
    display: none;
    min-width: 160px;
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    background-color: var(--color-surface);
    z-index: 10;
    position: absolute;
    left: 20px;
    bottom: 16px;
    padding: 8px;
    color: var(--color-primary);
  }

  .tooltip.upperLeft {
    left: -190px;
    bottom: 20px;
  }

  @media (hover) {
    .icon-wrapper:hover > .tooltip {
      display: flex;
    }
  }
</style>
