<script lang="ts">
  import TooltipIcon from '$lib/common/components/presentation/TooltipIcon.svelte'

  export let faIcon = 'fa-regular fa-circle-check'

  export let translationCode = ''

  export let type = ''

  export let tooltipPosition = 'upperRight'
  export let dataTest = translationCode
</script>

<div class='wrapper'>
  <TooltipIcon {tooltipPosition} type={type} translationCode={translationCode} faIcon={faIcon} dataTest={dataTest} on:click/>
</div>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 4px;
    border-radius: 4px;
    height: fit-content;
  }

  .wrapper:hover {
    background-color: var(--color-surface);
    color: var(--color-primary);
    cursor: pointer;
  }
</style>
